<div class="facetsContainer">
    <div class="u-margin-Txxs filters checkboxes">

        <div style="display:none;" data-bind="visible : breadcrumbs().length > 0" class="appliedFilters panel panel-default relative u-padding-Vn u-padding-Hs">
            <h4>Current Filters <button data-bind="click : clearAppliedFacets">Clear All</button></h4>

            <div data-bind="foreach : breadcrumbs">
                <p>
                    <span data-bind="text : displayText,  css: {'red2' : pendingRemoval()}"></span>
                    <span data-bind="visible : excluded && displayExcluded()" class="text-muted u-font-85"> (excluded)</span>
                    <span data-bind="click : removeBreadcrumb" class="remove" title="Remove filter">&times;</span>
                </p>
            </div>
        </div>
  
        <div class="applyButtons grid u-padding-Bn">
            <div style="height: 37px;" class="grid-1-2 u-padding-Hn u-padding-Bn"><span class="u-font-135">Filter by</span></div>

            <div class="grid-1-2 u-padding-Lxxs u-padding-Bn">
                <button class="btn btn-primary btn-block btn-sm apply hidden" data-bind="click: applyFacets, css : { hidden : disableFilterButtons }">Apply Filters</button>
            </div>
        </div>
        <div id="facetsearchHook"></div>

        <!-- nav nav-tabs -->
        <ul style="display:none;" class="nav nav-tabs nav-tabs-small nav-tabs-line" data-bind="visible:( facetPanels().length > 1 && isPanelHeadersVisible() ), foreach: facetPanels">
            <li data-bind="visible: isVisible, css: { disabled: padLocked, active: !$index() && !padLocked }">
                <!-- ko if: !padLocked -->
                <a data-bind="click: FacetPanelGroupTabHeaderClicked.bind($data),attr: { href: '#' + 'facetPanel_' + id }, text: title" data-toggle="tab"></a>
                <!-- /ko -->
                <!-- ko if: padLocked -->
                <a data-bind="text: title"></a>
                <!-- /ko -->
            </li>
        </ul>
        <div id="myTabContent" class="tab-content ">
            <div data-bind="template: { name: 'template-facet-panel-group', foreach: facetPanels}">
            </div>
        </div>
    </div>

    @Html.Partial("Results/Facets/FacetTemplates")
</div>