<div class="none" data-bind="stopBindingChildren : true">

    <!-- ===================== FACET PANEL GROUP BODY ===================== -->
    <div id="template-facet-panel-group">
        <div data-bind="attr:{id: 'facetPanel_' + id }, css:  ( $index() == 0 ? 'facetTabBody tab-pane fade active in':'facetTabBody tab-pane fade hidden'), template : { name:'template-facet-panel' , foreach: $data.facets }">

        </div>
    </div>

    <!-- ===================== FACET PANEL ===================== -->
    <div id="template-facet-panel">
        <div class="facet" data-bind="visible:isVisible, event:{'mouseover':isMouseOver.bind($data, true), 'mouseout':isMouseOver.bind($data, false)}">
            <h5 class="u-margin-Ts" data-bind="css : { on : isExpanded }">
                <button class="btn btn-link" data-bind="click : expand">
                    <i class="icon-down-dir"></i>
                    <span data-bind="text : displayText" class="u-bold"></span>
                </button>

                <button class="btn btn-link grey1" data-bind="click : toggleFilterBox, visible : isFilterBoxEnabled, attr : { title : isFilterBoxOpen() ? 'Click to close the search box' : 'Click to open the search box' }">
                    <i class="icon-search actionable"></i>
                </button>

                @*<i class="icon-search actionable" data-bind="click : toggleFilterBox, visible : isFilterBoxEnabled, attr : { title : isFilterBoxOpen() ? 'Click to close the search box' : 'Click to open the search box' }"></i>*@

                <button class="icon-help-circled hand grey2 u-margin-Ls" data-bind="visible: hasHelp, click:showHelp, attr: { 'data-appkey': helpAppName, 'data-groupid': helpGroupId, 'data-itemid': helpItemId }" data-toggle="modal" data-target="#helpIndicatorDialog"></button>

                <span class="pull-right fade" data-bind="visible:showExclude, css:{in: isMouseOver() || isExcluding()}">
                    <input type="checkbox" class="clearable" data-bind="checked : isExcluding(), uniqueId: true, click : toggleExclude, event:{'focus':isMouseOver.bind($data, true), 'blur':isMouseOver.bind($data, false)},">
                    <label data-bind="uniqueFor: 'after'">Exclude</label>
                </span>
            </h5>

            <span class="filter" data-bind="visible : isExpanded">
                <a href="javascript:void(0)" class="u-margin-Lm" data-bind="text : '< All ' + displayText, visible : isBackToAllEnabled, click : viewAllFacets"></a>
            </span>

            <span data-bind="visible : isFilterBoxOpen">
                <input type="text" class="form-control input-sm u-margin-Ts clearable" ondrop="return false;" data-bind="hasFocus: filterBoxFocus, visible : isExpanded, textInput : filterText, inputClear : { showOnLoad : true}, attr : { placeholder : filterTextPlaceHolder }" placeholder="Search within Subject filter">
            </span>

            <div class="relative u-margin-Vxl" data-bind="visible : isLoading" style="height: 1px;">
                <span class="loading sm text">
                    Loading...
                </span>
            </div>

            <div class="alert alert-warning text-center u-margin-Txxs u-margin-Bxxs" data-bind="visible : isExpanded() && filteredChildren().length === 0 && isLoading() === false">
                We do not have any filters available
            </div>

            <div class="alert alert-danger text-center u-margin-Txxs u-margin-Bxxs" data-bind="visible : isExpanded() && filteredChildren().length === 0 && isLoading() === false && errorOccured()">
                There is a technical problem. Contact us
            </div>


            <ul class="list-unstyled filter" data-bind="foreach: filteredChildren, visible : isExpanded() && !isLoading()">
                <li data-bind="template: templateName"></li>
            </ul>

            <div data-bind="if: isExpanded() && isViewMoreEnabled()">
                <button class="btn btn-link grey1 u-margin-Hxl" data-bind="click : toggleViewMore, text : isViewMoreOpen() ? 'View Less' : 'View More' "></button>
            </div>
        </div>
    </div>

    <!-- ===================== TAXONOMY GROUP / TREE ===================== -->
    <div id="template-taxonomy-tree">
        <div class="checkboxes" data-bind="scrollbar:{}" style="height:100%">
            <div class="filter">
                <ul class="list-unstyled filter u-margin-Ls" data-bind="foreach: filteredChildren, visible : isExpanded() && !isLoading()">
                    <li data-bind="template: templateName"></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- ===================== FACET TREE ===================== -->
    <div id="template-facet-tree">
        <i class="icon-down-dir" data-bind="click : expand.bind($data, false), css : { on : isExpanded }"></i>

        <input type="checkbox" data-bind="checked : isSelected() || isInSelectedTree(), attr:{ id : facetClientId, name : facetClientId, 'aria-label':displayText, value: value }, disable : isInSelectedTree(), click : toggleSelected">

        <label data-bind="attr:{ 'for' : facetClientId }, css : { 'checked' : isActive() || (isInSelectedTree() && isInActiveTree()) }"></label>

        <a href="javascript:void(0)" data-bind="click : disableLabelClick ? toggleSelected : applyFacet">
            <span data-bind="text : displayText"></span>
            <span data-bind="visible: count() > 0" class="count">(<span data-bind="text: count"></span>)</span>
        </a>

        <div class="alert alert-warning text-center u-margin-Txxs u-margin-Bxxs" data-bind="visible : isExpanded() && filteredChildren().length === 0 && isLoading() === false">
            We do not have any filters available
        </div>

        <div class="alert alert-danger text-center u-margin-Txxs u-margin-Bxxs" data-bind="visible : isExpanded() && filteredChildren().length === 0 && isLoading() === false && errorOccured()">
            There is a technical problem. Contact us
        </div>
        <div data-bind="if: isExpanded">
            <ul class="filter list-unstyled u-margin-Ls" data-bind="foreach: filteredChildren, visible : isExpanded">
                <li data-bind="template: templateName"></li>
                <li data-bind="if: viewMore">View More</li>
            </ul>
        </div>
    </div>

    <!-- ===================== FACET LEAF ===================== -->
    <div id="template-facet-leaf">

        <input type="checkbox" data-bind="checked : isSelected() || isInSelectedTree(), attr:{ id : facetClientId, name : facetClientId, 'aria-label':displayText, value: value }, disable : isInSelectedTree(), click : toggleSelected">

        <label data-bind="attr:{ 'for' : facetClientId }, css : { checked : isActive() || (isInSelectedTree() && isInActiveTree()) }"></label>

        <!-- ko template : 'template-facet-leaf-single-select' -->
        <!-- /ko -->
    </div>

    <!-- ===================== FACET LEAF SINGLE SELECT ===================== -->
    <div id="template-facet-leaf-single-select">
        <a href="javascript:void(0)" data-bind="click : disableLabelClick ? toggleSelected : applyFacet, css : { 'no-check' : singleSelect }">
            <span data-bind="text : displayText"></span>
            <span data-bind="visible: count() > 0" class="count">(<span data-bind="text: count"></span>)</span>
        </a>
    </div>

    <!-- ================== FACET DATE RANGE ================== -->

    <div id="template-facet-range-date">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="grid-1-4 control-label u-padding-Hn u-padding-Bxxs" data-bind="text: fromTitle, uniqueFor: 'before'"></label>
                <div class="grid-3-4 u-padding-Bxxs relative">
                    <input class="form-control input-sm actionable" data-bind="uniqueId: true, datepicker: selectedLowerValue, datepickerOptions: { minDate: minValue(), dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: yearRange(), beforeShowDay:beforeShowDay()}, maxDate: selectedUpperValue, watermark : { text : 'yyyy-mm-dd' }" />
                    <span class="date-close close" data-bind="click: clearLowerValue, visible: selectedLowerValue() != null">&times;</span>
                </div>
            </div>
            <div class="form-group">
                <label class="grid-1-4 control-label u-padding-Hn u-padding-Bxxs" data-bind="text: toTitle, uniqueFor: 'before'"></label>
                <div class="grid-3-4 u-padding-Bxxs relative">
                    <input class="form-control input-sm actionable" data-bind="uniqueId: true, datepicker: selectedUpperValue, datepickerOptions: { maxDate: maxValue(), dateFormat: 'yy-mm-dd', changeMonth: true, changeYear: true, yearRange: yearRange(), beforeShowDay:beforeShowDay()}, minDate: selectedLowerValue, watermark : { text : 'yyyy-mm-dd' }" />
                    <span class="date-close close" data-bind="click: clearUpperValue, visible: selectedUpperValue() != null">&times;</span>
                </div>
            </div>
            <div data-bind="visible: quickPicks.length > 0">
                <select class="form-control input-sm" data-bind="options: quickPicks, optionsText: 'displayText', optionsCaption: 'Quick select...', value: selectedPick, event: {change: quickPicksOnChange}"></select>
            </div>

            <div data-bind="visible : !isValid()" class="alert alert-warning text-center u-margin-Txxs u-margin-Bxxs" style="display:none;">Invalid date range specified</div>
        </div>
    </div>

    <!-- ===================== FACET DATE ===================== -->

    <div id="template-facet-date">
        <div class="form-horizontal">
            <div class="form-group relative">
                <label>
                    <div class="input-group input-group-sm">
                        <span class="relative">
                            <input class="form-control actionable" data-bind="
                            uniqueId: true,
                            datepicker: selectedValue,
                            datepickerOptions: {
                                dateFormat: 'yy-mm-dd',
                                changeMonth: true,
                                changeYear: true,
                                yearRange: yearRange(),
                                beforeShowDay:beforeShowDay(),
                                maxDate: lastValue() || maxValue(),
                                minDate: firstValue() || minValue()
                            },
                            watermark : { text : 'yyyy-mm-dd' }" />
                            <button role="button" class="date-close close" data-bind="click: clearValue, visible: selectedValue() != null">&times;</button>
                        </span>
                        <span class="input-group-addon"><i class="icon-calendar"></i></span>
                    </div>
                </label>
            </div>
        </div>
    </div>

    <!-- ===================== FACET NUMBER ===================== -->

    <div id="template-facet-range-number">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="grid-1-4 control-label u-padding-Hn u-padding-Bxxs" data-bind="text: fromTitle, uniqueFor: 'before'"></label>
                <div class="grid-3-4 u-padding-Bxxs">
                    <input class="form-control input-sm" data-bind="value : selectedLowerValue, uniqueId: true" />
                </div>
            </div>
            <div class="form-group">
                <label class="grid-1-4 control-label u-padding-Hn u-padding-Bxxs" data-bind="text: toTitle, uniqueFor: 'before'"></label>
                <div class="grid-3-4 u-padding-Bxxs">
                    <input class="form-control input-sm" data-bind="value : selectedUpperValue, uniqueId: true" />
                </div>
            </div>
            <div data-bind="visible: quickPicks.length > 0">
                <select class="form-control input-sm" data-bind="options: quickPicks, optionsText: 'displayText', optionsCaption: 'Quick select...', value: selectedPick, event: {change: quickPicksOnChange}"></select>
            </div>
            <div data-bind="visible : !isValid()" class="alert alert-warning text-center u-margin-Txxs u-margin-Bxxs" style="display:none;">Invalid range specified</div>
        </div>
    </div>

    <!-- ===================== FACET CHECKBOX ===================== -->

    <div id="template-facet-checkbox">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="grid-1-1">
                    <input type="checkbox" data-bind="checked : checked, attr:{ id : facetClientId }">
                    <label data-bind="text: label, attr:{ for : facetClientId }"></label>
                </div>
            </div>
        </div>
    </div>

    <!-- ===================== FACET TYPE AHEAD ===================== -->

    <div id="template-facet-type-ahead">
        <div class="form-horizontal">
            <input type="text" class="form-control input-sm u-margin-Ts clearable" ondrop="return false;" data-bind="visible:showSearchBox, attr:{placeholder:placeholderText}, typeAheadAutoComplete: { chars:1 }" placeholder="Start typing to search">
            <div class="grid-1-1 u-padding-Axxs" data-bind="visible: topLinks.length > 0">
                <ul class="list-unstyled filter" data-bind="foreach: topLinks">
                    <li>
                        <input type="checkbox" data-bind="checkedValue: displayText,checked: $parent.selectedItems, uniqueId: true">
                        <label data-bind="uniqueFor: 'after'"></label>

                        <a href="javascript:void(0)" data-bind="click: $parent.applyFacet">
                            <span data-bind="text : displayText"></span>
                            <span data-bind="visible: count > 0" class="count">(<span data-bind="text: count"></span>)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <button class="btn btn-link grey1 u-margin-Hxl" data-bind="css:{hidden: (topLinks.length < MaxItems) && !showSearchBox }, click: showList">View all <i class="icon-popup grey2"></i></button>
        </div>
        <div class="relative u-margin-Vxl" data-bind="visible : isLoading">
            <span class="loading sm text">
                Loading...
            </span>
        </div>
        <div class="grid-1-1 u-padding-Axxs" data-bind="visible: selectedItems().length > 0">
            <span class="text-muted">Filters to apply</span>
            <ul class="list-group" data-bind="foreach: selectedItems">
                <li class="list-group-item u-padding-Axxs">
                    <span data-bind="text: $data"></span>
                    <i class="actionable icon-cancel pull-right" title="Remove" data-bind="click: $parent.removeItem"></i>
                </li>
            </ul>
        </div>
    </div>

    <!-- ===================== FACET MODAL ===================== -->
    <div id="template-facet-popup">
        <div class="facet-modal">
            <div class="grid">
                <div class="grid-7-12">
                    <div class="grid u-margin-Bs">
                        <div class="btn-group btn-group-sm btn-block grid-1 u-padding-An">
                            <button class="btn btn-default btn-primary active" data-bind="css:{'btn-primary active': sortBy()=='az'}, click: function() { sort('az') }">A-Z</button>
                            <button class="btn btn-default" data-bind="css:{'btn-primary active': sortBy()=='no'}, click: function() { sort('no') }">Sort by count</button>
                        </div>
                    </div>
                    <div class="grid u-margin-Bs">
                        <div class="has-feedback" style="width: 100%;">
                            <input type="search" class="form-control input-sm" data-bind="event: {input : function(v,e){ v.searchList(e.target.value);}, propertychange:function(v,e){ v.searchList(e.target.value);}}" />
                            <span class="icon-search form-control-feedback" style="top: -5px;" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="relative u-margin-Vxl" data-bind="visible : isModalLoading">
                        <span class="loading sm text">
                            Loading...
                        </span>
                    </div>
                    <div class="grid main-list">
                        <div class="grid-1-6 u-padding-Hn category-list frame" data-bind="visible: categorisedList().length > 1, scrollbar: {}">
                            <div class="list-group list-group-sm" data-bind="foreach: categorisedList">
                                <a class="list-group-item" href="" data-bind="css: {active:$parent.activeValue() == name}, click: $parent.scrollTo">
                                    <span data-bind="text:name"></span>
                                </a>
                            </div>
                        </div>
                        <div class="facetList grid-5-6 u-padding-Hn frame" data-bind="event: {scroll: onscroll }, style:{width: categorisedList().length > 1 ? '' : '100%' }, scrollbar: {callbacks: { whileScrolling: onscroll }}">
                            <ul class="filter" data-bind="foreach: categorisedList, event: {scroll: onscroll }">
                                <li>
                                    <ul>
                                        <li data-bind="visible: name">
                                            <h4 data-bind="attr:{id: $parent.facetId +'_' + name,'data-name': name },text: name"></h4>
                                        </li>
                                        <li data-bind="dynamicHtml: childListItems"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="grid-5-12 selectedList frame" data-bind="scrollbar: {}">
                    <div class="well u-padding-Axs u-margin-Bs">
                        <h5>Selected</h5>
                        <ul data-bind="foreach: selectedItems" class="u-padding-Ln ">
                            <li>
                                <button class="btn btn-link u-padding-An" data-bind="click: $parent.removeItem">
                                    <i class="icon-cancel"></i>
                                </button>
                                <span data-bind="text:unescape($data);"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="enable:selectedItems().length, click: facetsVM.applyFacets.bind(facetsVM)">Apply</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

    <!-- ===================== FACET MODAL LIGHT FOR THE FACET EXPLORER - has its own list of selected and buttons ===================== -->
    <div id="template-facet-popup-light">
        <div class="facet-modal">
            <div class="grid">
                <div class="grid-1">
                    <div class="grid u-margin-Bs">
                        <div class="btn-group btn-group-sm btn-block grid-1 u-padding-An">
                            <button class="btn btn-default btn-primary active" data-bind="css:{'btn-primary active': sortBy()=='az'}, click: function() { sort('az') }">A-Z</button>
                            <button class="btn btn-default" data-bind="css:{'btn-primary active': sortBy()=='no'}, click: function() { sort('no') }">Sort by count</button>
                        </div>
                    </div>
                    <div class="grid u-margin-Bs">
                        <div class="has-feedback" style="width: 100%;">
                            <input type="search" class="form-control input-sm" data-bind="event: {input : function(v,e){ v.searchList(e.target.value);}, propertychange:function(v,e){ v.searchList(e.target.value);}}" />
                            <span class="icon-search form-control-feedback" style="top: -5px;" aria-hidden="true"></span>
                        </div>
                    </div>
                    <div class="relative u-margin-Vxl" data-bind="visible : isModalLoading">
                        <span class="loading sm text">
                            Loading...
                        </span>
                    </div>
                    <div class="grid main-list">
                        <div class="grid-1-6 u-padding-Hn category-list frame" data-bind="visible: categorisedList().length > 1, scrollbar: {}">
                            <div class="list-group list-group-sm" data-bind="foreach: categorisedList">
                                <a class="list-group-item" href="" data-bind="css: {active:$parent.activeValue() == name}, click: $parent.scrollTo">
                                    <span data-bind="text:name"></span>
                                </a>
                            </div>
                        </div>
                        <div class="facetList grid-5-6 u-padding-Hn frame" data-bind="event: {scroll: onscroll }, style:{width: categorisedList().length > 1 ? '' : '100%' }, scrollbar: {callbacks: { whileScrolling: onscroll }}">
                            <ul class="filter" data-bind="foreach: categorisedList, event: {scroll: onscroll }">

                                <li>
                                    <ul>
                                        <li data-bind="visible: name">
                                            <h4 data-bind="attr:{id: $parent.facetId +'_' + name,'data-name': name },text: name"></h4>
                                        </li>
                                        <li data-bind="dynamicHtml: childListItems"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="enable:selectedItems().length, click: facetsVM.applyFacets.bind(facetsVM)">Apply</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>*@
    </div>

    <!-- ===================== FACET MODAL ALL FILTERS ===================== -->
    <div id="template-facet-popup-all-filters">
        <div class="grid">
            <div class="grid-1-5">
                <div class="list-group list-group-sm" data-bind="scrollbar:{}" style="height:500px;">
                    <div>
                        <!-- ko foreach: $data.facetsVM.facetPanels() -->
                        <!-- ko foreach: facets() -->
                        <!-- ko if: $data.facetKey != "FULLTEXT"  -->
                        <!-- ko if: displayText != "" && firstInstanceOfKey() == true -->
                        <a class="list-group-item hand" tabindex="0" href="" data-bind="css:{active : activeInFacetExplorer} , click: showDataInFacetExplorer,text:$data.displayText">FACET PANEL</a>
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <div class="grid-3-5">
                <div style="height: 500px;" id="datalist_tfpaf">
                    <h3>Please select a filter from the left.</h3>
                </div>
            </div>
            <div class="grid-1-5">
                <div>
                    <h4>Selected </h4>
                    <div data-bind="scrollbar:{}" style="height: 500px;">
                        <ul class="u-padding-Ln list-unstyled ">
                            <!-- ko foreach: $data.facetsVM.facetPanels() -->
                            <!-- ko foreach: facets() -->
                            <!-- ko foreach: children() -->
                            <!-- ko if: $data.selectedItems  -->
                            <!-- ko foreach: selectedItems() -->
                            <li class="u-padding-Bxxs">
                                <button class="btn btn-link u-padding-An" data-bind="click: $parent.removeItem">
                                    <i class="icon-cancel"></i>
                                </button>
                                <span data-bind="html:$data"></span>
                                <span class="u-font-85 grey2 " data-bind="text:$parents[1].displayText"></span>
                            </li>
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                            <!-- /ko -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="grid-1-5">
                <button class="btn btn-primary btn-block btn-sm u-padding-Axxs apply" data-dismiss="modal" data-bind="click: $data.facetsVM.applyFacets.bind($data.facetsVM) , css : { hidden : $data.facetsVM.disableFilterButtons }">Apply Filters</button>
            </div>
        </div>

    </div>

    <!-- ===================== FACET RANGE SLIDER ===================== -->

    <div id="template-facet-range-slider">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="grid-1-1">
                    <div data-bind="slider: minMaxvalues, sliderOptions: {min:minValue(), max:maxValue(), range:true, step:1}"></div>
                    <label>
                        <span class="minValue" data-bind="text:minValue"></span>
                        <span class="maxValue" data-bind="text:maxValue"></span>
                        <label data-bind="text:lowerValue, style:{left:lowerPosition }"></label>
                        <label data-bind="text:upperValue, style:{left:upperPosition }"></label>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <!-- ===================== FACET TEXTBOX ===================== -->

    <div id="template-facet-textbox">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="grid-1-1">
                    <input type="text" class="form-control input-sm" ondrop="return false;" data-bind="textInput : textValue, uniqueId: true, attr : { placeholder : placeholderText }">
                    <span data-bind="click : expand, css : { on : isExpanded }, visible: filters().length ">
                        <span>Choose Attributes</span>
                        <i class="icon-down-dir"></i>
                    </span>
                    <ul class="list-unstyled filter" data-bind="foreach: filters, visible : isExpanded">
                        <li>
                            <input type="checkbox" data-bind="checked : isSelected,uniqueId: true, value: value">
                            <label data-bind="uniqueFor: 'after'"></label>
                            <label data-bind="uniqueFor: 'after', text: title">Analyst Comments/Comments</label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- ===================== FACET DROPDOWN  ===================== -->
    <div id="template-facet-dropdown">
        <div class="form-horizontal" data-bind="if : filteredChildren().length > 0">
            <div class="form-group">
                <div class="grid-1-1">
                    <select class="form-control" multiple data-bind="options: filteredChildren, selectedOptions: selectedItems,  chosen: {allow_single_deselect:true, placeholder_text_multiple: placeholderText, width: '100%'}"></select>
                </div>
            </div>
        </div>
        <div class="alert alert-warning text-center u-margin-Txxs u-margin-Bxxs" data-bind="visible : filteredChildren().length === 0 && isLoading() === false">
            We do not have any filters available
        </div>
    </div>
</div>