@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Details</title>
</head>
<body>
<div>
    User ID: @ViewBag.UserId <br/>
    Client IP: @ViewBag.ClientIP <br/>
</div>
<div>
    <h2>Request headers</h2>
    <ul>
        @{
            var keys = Request.Headers.AllKeys;

            foreach (var key in keys)
            {
                <li>@key : @Request.Headers[key]</li>
            }
        }
    </ul>
</div>
</body>
</html>
