@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
}

@model IHS.Apps.CMP.Models.ViewModels.ChangePasswordModel

@section browser_title
{
    @this.LocalResources("Title")
}

@section page_title
{
    <div class="page-header"><h1>Change Password</h1></div>
}

@section additional_scripts
{
}

<div class="grid-1 grid-sm-3-4 grid-md-4-5 grid-lg-5-6">
    @Html.Partial("ChangePassword", Model)
</div>
