@model string

@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
}

@section browser_title { Concurrency Exceeded }


@section page_title
{
    <div class="page-header"><h1>@this.GlobalResources("ConcurrencyTitle")</h1></div>
}


<div class="container">
    <div class="grid-1">
        <h3>
            @Html.Raw(this.GlobalResources("ConcurrencyDescription"))
        </h3>
        
        <div class="grid">
            <div class="grid-1-3"></div>
            <div class="grid-1-3">
                <div class="panel panel-primary">
                    <div div class="panel-body">
                        <h3>Contact Us</h3>
                        <div class="grid-1">
                            <p class="large"><strong>Americas</strong></p>
                            <p>Tel: +1 800 IHS-CARE (+1 800 447-2273)</p>
                        </div>
                        <div class="grid-1">
                            <p class="large"><strong>Europe, Middle East and Africa</strong></p>
                            <p>Tel: +44 (0)1344 328 300</p>
                        </div>
                        <div class="grid-1">
                            <p class="large"><strong>Asia Pacific</strong></p>
                            <p>Tel: +604 291 3600</p>
                        </div>
                        <div class="grid-1">
                            <p class="large"><strong>Or by Email</strong></p>
                            <p><a href="mailto:customercare@ihsmarkit.com?subject=Janes%202%20Site">customercare@ihsmarkit.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
           
        if (typeof ga !== 'undefined') {
            ga("send",
            {
                hitType: "event",
                eventCategory: "Concurrency",
                eventAction: "Denial",
                eventLabel: "@Model",
                nonInteraction: 0
            });
        }
    });   
</script>
