@model IHS.Apps.CMP.Models.ViewModels.DbLoggingConfig
@{ Layout = null;}

<h4>DB Logging Status</h4>
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div>
        The app will check the database to see if DB Logging is on every
        @Html.EditorFor(model => model.CheckFrequencySeconds) seconds.
    </div>
    <div>
        Database Logging Enabled?
        @Html.EditorFor(m=>m.Enabled);
    </div>
    <input type="submit" value="Save" />
}
