@model bool
@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
    
    ViewBag.Title = this.LocalResources(Model ? "DefaultViewTitle" : "Title");
}



@section page_title
{
    <div class="page-header">
    
    @if (Model)
    {
        <h1>
            @this.LocalResources("DefaultViewTitle")
        </h1>
    }
    else
    {
        <h1>
            @this.LocalResources("Title")
        </h1>
    }
        
    </div>
}

@section additional_scripts
{
    @Scripts.Render("~/bundles/mysavedsearches")
}

<div class="grid-1-1">
    @if (Model)
    {
        <div class="u-font-125 u-margin-Bm">Please select a default view for this product by clicking on the <i class="icon-plus-squared"></i> icon below.</div>
    }

    @Html.Action("Populate", "MySavedSearches")
</div>

