@{
    Layout = "~/Views/Shared/_LayoutFullScreen.cshtml";
}
@model IHS.Apps.CMP.Models.ViewModels.ProfileFormDetails


@section browser_title
{
    @this.LocalResources("Title")
}

@section page_title
{
    <div class="page-header"><h1>Update Profile</h1></div>
}


@section additional_scripts
{
}

<div class="grid-1 grid-sm-3-4 grid-md-3-5 grid-lg-1-2">

    @if (Model.ValidForm)
    {
        @Html.Partial("ProfileForm", Model)
    }
    else
    {
        <div class="grid-1-2">

            <div class="grid-1">
                <b>Update Profile Failure</b>
            </div>

            <div class="grid-1" style="padding-top: 10px">
                We apologise that we were unable to retrieve your profile.
                If this problem persists, please contact customer care at <a href="mailto:customercare@ihsmarkit.com?subject=Janes%20%20Site">customercare@ihsmarkit.com</a>
            </div>

        </div>
    }

</div>