.esriLayerSearcher .esriLayerSearcherClearFloat {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.simpleLayerSearcher .esriLayerSearcherContainer *,
.invertedLayerSearcher .esriLayerSearcherContainer {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.simpleLayerSearcher .esriLayerSearcherContainer,
.invertedLayerSearcher .esriLayerSearcherContainer {
  width: 225px;
  font-size: 12px;
  line-height: 16px;
  font-family: verdana, helvetica;
  position: relative;
}

.simpleLayerSearcher .esriLayerSearcherContainer ul,
.invertedLayerSearcher .esriLayerSearcherContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  color: #444;
}

.invertedLayerSearcher .esriLayerSearcherContainer ul {
  color: #bbb;
}

.simpleLayerSearcher .esriLayerSearcherIcon,
.invertedLayerSearcher .esriLayerSearcherIcon {
  float: left;
  outline: 0;
  width: 16px;
  height: 16px;
  display: block;
  overflow: hidden;
  margin: 6px 0 6px 6px;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcherIcon,
.dj_rtl .invertedLayerSearcher .esriLayerSearcherIcon {
  float: right;
  margin: 6px 6px 6px 0;
}

.esriLayerSearcher .esriLayerSearcherClearFloat {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.simpleLayerSearcher .esriLayerSearcher,
.invertedLayerSearcher .esriLayerSearcher {
  display: block;
  width: 100%;
  margin: 0;
  border: 1px solid #57585a;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.invertedLayerSearcher .esriLayerSearcher {
  border: 1px solid #a8a7a5;
  background: #333;
}

.simpleLayerSearcher .esriLayerSearcherActive,
.simpleLayerSearcher .esriLayerSearcherMenuActive,
.invertedLayerSearcher .esriLayerSearcherActive,
.invertedLayerSearcher .esriLayerSearcherMenuActive {
  border-bottom: 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.simpleLayerSearcher .esriLayerSearcher input,
.invertedLayerSearcher .esriLayerSearcher input {
  outline: 0;
  display: block;
  border: 0;
  border-collapse: collapse;
  vertical-align: middle;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 6px 0;
  float: left;
  color: #444;
  background: none;
  margin: 0 6px;
  width: 160px;
}

.invertedLayerSearcher .esriLayerSearcher input {
  color: #bbb;
  background: #333;
}

.simpleLayerSearcher .esriLayerSearcherMultiple input,
.invertedLayerSearcher .esriLayerSearcherMultiple input {
  width: 146px;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcher input,
.dj_rtl .invertedLayerSearcher .esriLayerSearcher input {
  float: right;
}

.simpleLayerSearcher .esriLayerSearcher input:focus {
  color: #333;
}

.invertedLayerSearcher .esriLayerSearcher input:focus {
  color: #ccc;
}

.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch {
  cursor: pointer;
  margin-left: 6px;
  background: url(simpleLayerSearcher.png) no-repeat 0 0;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch,
.dj_rtl .invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch {
  margin-left: 0;
  margin-right: 6px;
}

.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch:hover,
.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch:focus,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch:hover,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherSearch:focus {
  opacity: 0.75;
}

.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherReset,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherReset {
  margin: 6px 6px 6px 0;
  float: right;
  display: none;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherReset,
.dj_rtl .invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherReset {
  margin: 6px 0 6px 6px;
  float: left;
}

.simpleLayerSearcher .esriLayerSearcherHasValue .esriLayerSearcherReset,
.invertedLayerSearcher .esriLayerSearcherHasValue .esriLayerSearcherReset {
  cursor: pointer;
  display: block;
  background: url(simpleLayerSearcher.png) no-repeat -48px 0;
}

.invertedLayerSearcher .esriLayerSearcherHasValue .esriLayerSearcherReset {
  background: url(invertedLayerSearcher.png) no-repeat -64px 0;
}
.simpleLayerSearcher .esriLayerSearcherLoading .esriLayerSearcherReset {
  background: url(loading.gif) center center no-repeat;
}

.invertedLayerSearcher .esriLayerSearcherLoading .esriLayerSearcherReset {
  background: url(invertedLoading.gif) center center no-repeat;
}
.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherReset:hover,
.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherReset:focus,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherReset:hover,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherReset:focus {
  opacity: 0.75;
}

.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow {
  display: none;
  cursor: pointer;
  background: url(simpleLayerSearcher.png) no-repeat -32px 0;
}
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow {
  background: url(invertedLayerSearcher.png) no-repeat -32px 0;
}

.simpleLayerSearcher .esriLayerSearcherMultiple .esriLayerSearcherMenuArrow,
.invertedLayerSearcher .esriLayerSearcherMultiple .esriLayerSearcherMenuArrow {
  display: block;
}

.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow:hover,
.simpleLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow:focus,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow:hover,
.invertedLayerSearcher .esriLayerSearcher .esriLayerSearcherMenuArrow:focus {
  opacity: 0.75;
}

.simpleLayerSearcher .esriLayerSearcherResults,
.invertedLayerSearcher .esriLayerSearcherResults {
  display: none;
  z-index: 99;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  margin: -1px 0 0;
  border: 1px solid #57585a;
  border-top: 0;
  padding: 0;
  background: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.invertedLayerSearcher .esriLayerSearcherResults {
  border: 1px solid #a8a7a5;
  background: #333;
}

.simpleLayerSearcher .esriLayerSearcherResult,
.invertedLayerSearcher .esriLayerSearcherResult {
  padding: 6px;
  display: block;
  cursor: pointer;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.simpleLayerSearcher .esriLayerSearcherResultOdd,
.invertedLayerSearcher .esriLayerSearcherResultOdd {
}

.simpleLayerSearcher .esriLayerSearcherResult:hover,
.simpleLayerSearcher .esriLayerSearcherResultEven:focus,
.simpleLayerSearcher .esriLayerSearcherResultOdd:focus {
  background-color: #ededed;
}

.invertedLayerSearcher .esriLayerSearcherResult:hover,
.invertedLayerSearcher .esriLayerSearcherResultEven:focus,
.invertedLayerSearcher .esriLayerSearcherResultOdd:focus {
  background-color: #121212;
}

.simpleLayerSearcher .esriLayerSearcherResultLast,
.invertedLayerSearcher .esriLayerSearcherResultLast {
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.simpleLayerSearcher .esriLayerSearcherResult .esriLayerSearcherResultPartial,
.invertedLayerSearcher
  .esriLayerSearcherResult
  .esriLayerSearcherResultPartial {
  font-weight: 700;
}

.simpleLayerSearcher .esriLayerSearcherMenu,
.invertedLayerSearcher .esriLayerSearcherMenu {
  display: none;
  width: 100%;
  z-index: 99;
  position: absolute;
  left: 0;
  top: 100%;
  margin: -1px 0 0;
  padding: 0;
  background: #fff;
  border: 1px solid #57585a;
  border-top: 0;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.invertedLayerSearcher .esriLayerSearcherMenu {
  background: #333;
  border: 1px solid #a8a7a5;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcherMenu,
.dj_rtl .simpleLayerSearcher .esriLayerSearcherResults,
.dj_rtl .invertedLayerSearcher .esriLayerSearcherMenu,
.dj_rtl .invertedLayerSearcher .esriLayerSearcherResults {
  left: auto;
  right: 0;
}

.simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuHeader,
.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuHeader {
  padding: 6px;
  margin: 0;
  display: block;
  background: #666;
  color: #fff;
  font-weight: 700;
}

.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuHeader {
  background: #999;
  color: #333;
}

.simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose,
.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  background: url(simpleLayerSearcher.png) no-repeat -64px 0;
  cursor: pointer;
  outline: 0;
}

.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose {
  background: url(invertedLayerSearcher.png) no-repeat -48px 0;
}

.dj_rtl .simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose,
.dj_rtl
  .invertedLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherMenuClose {
  float: left;
}

.simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose:hover,
.simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose:focus,
.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherMenuClose:hover,
.invertedLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherMenuClose:focus {
  opacity: 0.75;
}

.simpleLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherSelectedCheck,
.invertedLayerSearcher .esriLayerSearcherMenu .esriLayerSearcherSelectedCheck {
  width: 16px;
  height: 16px;
  display: block;
  float: right;
  margin: 0 0 0 6px;
}

.dj_rtl
  .simpleLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherSelectedCheck,
.dj_rtl
  .invertedLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherSelectedCheck {
  float: left;
  margin: 0 6px 0 0;
}

.simpleLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherSelected
  .esriLayerSearcherSelectedCheck,
.invertedLayerSearcher
  .esriLayerSearcherMenu
  .esriLayerSearcherSelected
  .esriLayerSearcherSelectedCheck {
  background: url(simpleLayerSearcher.png) no-repeat -16px 0;
}

input.query-error::-webkit-input-placeholder {
  color: red;
}

input.query-error:-moz-placeholder {
  /* Firefox 18- */
  color: red;
}

input.query-error::-moz-placeholder {
  /* Firefox 19+ */
  color: red;
}

input.query-error:-ms-input-placeholder {
  color: red;
}
