.subject-select,
.column-links,
.dashboardHeadTextLink,
.beta,
#dvWidgetsToolbox,
.visitedtick,
.widgetfooter,
.dashboardHeader > .btn-toolbar
 {
    display: none !important;
}
body {
    color: #000;
    margin: 0 !important;
    padding: 0 !important;
}
.grid {
    margin: 0 !important;
}
#dvLiveWidgetArea .grid {
    display: inline;
}
#dvSortableColumn1,
#dvSortableColumn2,
#dvSortableColumn3 {
    min-height: 0 !important;
}
.grid > div {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    display: block !important;
}
.widget {
    page-break-inside: avoid;
    border: none;
    border-color: #FFF;
    border-bottom: 3px solid #ccc;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    margin: 0 0 20px 0 !important;
    padding: 0 0 20px 0 !important;
}
.widgetHeader {
    border: none !important;
    margin: 0 !important;
    padding: 0 0 10px !important;
}
.widgetcontainer {
    border: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    position: absolute;
    margin: 0 !important;
    padding: 0 !important;
}
.widgetcontent {
    margin: 0 !important;
    padding: 0 !important;
}
.widgetTitle {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: -.03em;
}
.page-header {
    margin-top: 38px;
    border: none;
}

.flag-icon {
    box-shadow: none !important;
    -webkit-print-color-adjust: exact;
}
[class^="risk-rating-"] {
    color: #000;
    border: 2px solid;
}
.risk-rating-1 {
    color: #0066b3;
}
.risk-rating-2 {
    color: #71d0f6;
}
.risk-rating-3 {
    color: #49a942;
}
.risk-rating-4 {
    color: #ffd200;
}
.risk-rating-5 {
    color: #f58025;
}
.risk-rating-6 {
    color: #c84623;
}
.risk-rating-7 {
    color: #860000;
}
.risk-rating-1-energy {
    color: #F04E23;
}
.risk-rating-2-energy {
    color: #F46E20;
}
.risk-rating-3-energy {
    color: #F7941D;
}
.risk-rating-4-energy {
    color: #FDBA4D;
}
.risk-rating-5-energy {
    color: #FFD74D;
}
.risk-rating-6-energy {
    color: #F5EB5A;
}
.risk-rating-7-energy {
    color: #DCE046;
}
.risk-rating-8-energy {
    color: #BED158;
}
.risk-rating-9-energy {
    color: #96BC33;
}
.risk-rating-10-energy {
    color: #718D26;
}
.key-data-green {
    color: #49a942;
}
.key-data-red {
    color: #c84623;
}
.key-data-blank {
    color: #FFFFFF;
}
.icon-arrow-right:after {
    content: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2010%2014%22%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M4.9%202.38L10.22%207%204.9%2011.62V8.932H0V5.04h4.9V2.38z%22/%3E%3C/svg%3E");
}