.mainNav .key span {
    background-color: #fff;
    border-radius: 4px;
    color: #96BC33;
    padding: 2px 4px;
}

.ihs-menu  span.key {
    margin: 4px 30px;
    display: block;
    color: #fff;
}

.ihs-menu  .key span {
    background: #fff;
    padding: 2px 3px;
    border-radius: 3px;
    color: #96BC33;
}

td.blockCBRNLabel1_0
{
    background-color: #dd0000;
}
td.blockCBRNLabel1_5
{
    background-color: #ff4400;
}
td.blockCBRNLabel2_0
{
    background-color: #ff8800;
}
td.blockCBRNLabel2_5
{
    background-color: #ffcc00;
}
td.blockCBRNLabel3_0
{
    background-color: #ffff00;
}
td.blockCBRNLabel3_5
{
    background-color: #ccff00;
}
td.blockCBRNLabel4_0
{
    background-color: #88ff00;
}
td.blockCBRNLabel4_5
{
    background-color: #44ff00;
}
td.blockCBRNLabel5_0
{
    background-color: #00dd00;
}
td.blockCBRNValue
{
    border: 1px solid #d0d0d0;
    text-align: center;
    margin: auto;
}

.dialog {
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    left: 50%;
    margin-left: -250px;
    line-height: 1.4em;
    padding: 15px 30px;
    position: absolute;
    top: 300px;
    width: 250px;
    z-index: 1000;
    display: none;
}

    .dialog.small {
        width: 175px;
    }

    .dialog.large {
        width: 350px;
    }

    .dialog.xlarge {
        width: 500px;
    }

    .dialog .close {
        background: url("/App_Themes/Default/Images/iconsprite.png") no-repeat -195px -354px #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        cursor: pointer;
        height: 19px;
        position: absolute;
        right: 8px;
        top: 8px;
        width: 19px;
    }

    .dialog > h2 {
        border-bottom: 1px solid #ccc;
        color: #444;
        left: 0;
        margin: -4px 0;
        padding-bottom: 9px;
    }

    .dialog .links {
        padding: 0;
        margin-left: 0;
        list-style: none;
    }

        .dialog .links li {
            padding: 3px 0;
        }

    .dialog.arrow {
        position: absolute;
        margin-left: 0;
    }

        .dialog.arrow:after, .dialog.arrow:before {
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        .dialog.arrow.bottom:after, .dialog.arrow.bottom:before {
            bottom: 100%;
            left: 50%;
        }

        .dialog.arrow.top:after, .dialog.arrow.top:before {
            top: 100%;
            left: 50%;
        }

        .dialog.arrow.top.offsetright:after, .dialog.arrow.top.offsetright:before {
            left: 10%;
        }

        .dialog.arrow.right:after, .dialog.arrow.right:before {
            right: 100%;
            top: 50%;
        }

        .dialog.arrow.left:after, .dialog.arrow.left:before {
            left: 100%;
            top: 50%;
        }

        .dialog.arrow:after {
            border-color: rgba(248, 248, 248, 0);
        }

        .dialog.arrow.bottom:after {
            border-bottom-color: #f8f8f8;
            border-width: 10px;
            margin-left: -10px;
        }

        .dialog.arrow.top:after {
            border-top-color: #f8f8f8;
            border-width: 10px;
            margin-left: -10px;
        }

        .dialog.arrow.right:after {
            border-right-color: #f8f8f8;
            border-width: 10px;
            margin-top: -10px;
        }

        .dialog.arrow.left:after {
            border-left-color: #f8f8f8;
            border-width: 10px;
            margin-top: -10px;
        }

        .dialog.arrow:before {
            border-color: rgba(204, 204, 204, 0);
        }

        .dialog.arrow.bottom:before {
            border-bottom-color: #aaa;
            border-width: 11px;
            margin-left: -11px;
        }

        .dialog.arrow.top:before {
            border-top-color: #aaa;
            border-width: 11px;
            margin-left: -11px;
        }

        .dialog.arrow.right:before {
            border-right-color: #aaa;
            border-width: 11px;
            margin-top: -11px;
        }

        .dialog.arrow.left:before {
            border-left-color: #aaa;
            border-width: 11px;
            margin-top: -11px;
        }
.panel .list-group-item {
    border-color: #eee;
    padding-bottom: 7px;
    padding-top: 7px;
}
.panel .list-group-item.sub {
    border-color: transparent;
    padding: 5px 15px 5px 25px;
}
.green1 {
    color: green;
}
#masterOverlay {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    visibility: visible;
    width: 100%;
    z-index: 1000;
}
@media (min-width: 1200px) {
    #mainContent {
        font-size: 110%;
        line-height: 1.5;
    }
}
@media (max-width: 768px) {
  .pull-left.u-margin-Rl.width-20.hidden-print {
    display: none;
  }
}
#mainContent > p {
    margin-bottom: 20px;
}
#mainContent > ul > li,
#mainContent > ol > li {
    margin-bottom: 12px;
}
.panel .list-group > li:empty {
    display: none;
}
.table-overflow.table {
    font-size: 13px;
    border: 1px solid #ccc;
}
.table-overflow.table td, .table-overflow.table th {
    padding: 3px;
}
.panel.table-overflow {
    clear: both;
    overflow: visible;
    border: none;
}
.pull-left.u-margin-Rl.width-20.hidden-print {
    min-width: 150px;
}
.width-20 .panel .panel-heading {
    transition: padding .2s, background-color .2s;
}
.width-20 .panel {
    transition: margin .2s, border-color .2s;
}
.all-info-hidden {
    float: none !important;
}
.info-hide {
    color: #0097d1;
    font-weight: normal;
    cursor: pointer;
}
.info-hidden {
    margin-bottom: 5px;
    border-color: #ddd;
}
.info-hidden .panel-heading {
    padding: 5px 15px;
    background-color: #fafafa;
    border: none;
}
@media print {
    #mainContent {
        font-size: 100%;
        line-height: 1.4;
    }
    .table td, .table th {
        padding: 3px;
    }
    #main.grid > .grid-1 {
        display: inline;
    }
    .printContents {
        font-weight: bold;
    }
    .printContents a {
        color: #444;
        display: inline-block;
        font-weight: normal;
    }
    .printContents a::after {
        content: "|";
        margin: 0 10px;
    }
}