body {
    overflow:hidden;
}

.resultsTreeContainer {
    position: absolute;
    left: 0;
    top: 150px;
    right: 0;
    bottom: 64px;
    overflow: hidden;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

#subjectCombo input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

#subjectCombo.chosen-container input::-ms-clear {
    display: none;
}

#subjectCombo.chosen-container input:focus::-webkit-input-placeholder {
    color: transparent;
}

.explorer-max > .resultsTreeContainer {
    display: table !important;
    height: inherit !important;
}

    .explorer-max > .resultsTreeContainer .explorer-tree {
        display: table-cell !important;
    }

.resultsTreeContainer .explorer-tree {
    position: relative;
}

    .resultsTreeContainer .explorer-tree .btn-group-vertical {
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 3;
    }

.resultsTreeContainer .explorer-tree,
.resultsTreeContainer > div {
    height: 100%;
    width: 100%;
}

.explorer-max {
    top: 15px;
    left: 0;
    margin: 0 2.5% !important;
    position: fixed;
    padding: 10px;
    width: 95%;
    height: 95%;
    z-index: 2000; /* to cover the main nav*/
    box-shadow: 0 0 0 50px rgba(0,0,0,.4);
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    left: 0;
}

.resultsTreeContainer .explorer-tree .node .node-circle {
    cursor: pointer;
}

/*.resultsTreeContainer .explorer-tree .node.selectedVariant .node-circle {
    fill: #F7941D !important;
}*/

.resultsTreeContainer .explorer-tree .node .node-title {
    fill: #A1ABB2;
}

.resultsTreeContainer .explorer-tree .node.highlighted .node-title {
    fill: #000;
}

.resultsTreeContainer .explorer-tree .node-information,
.resultsTreeContainer .explorer-tree .node-circle-expander,
.resultsTreeContainer .explorer-tree .node-expander-icon {
    cursor: pointer;
}

.resultsTreeContainer .explorer-tree .link {
    fill: none;
    /*stroke: #A1ABB2;*/
    opacity: 0.5;
    stroke-width: 1.5px;
}

/*.resultsTreeContainer .explorer-tree .link.highlighted {
        stroke: #0097D1;
    }*/

.equipment-explorer-link {
    display: none!important;
}

.flex-control-thumbs li {
    float: none !important;
    width: auto !important;
}

/*#resultsGrid .result-item > .row_selector > * {
    display: none;
}*/

.explorer-panel-bottom.panel-bottom {
    height: 400px;
    left: 100px;
    right: 100px;
    width: auto !important;
    overflow-y: visible;
    border: 2px solid #ddd;
    padding: 0;
	-webkit-transition: transform .9s cubic-bezier(.3,0,0,1);
	transition: transform .9s cubic-bezier(.3,0,0,1);
}

.explorer-panel-bottom.panel-bottom.closed .showFilters {
    top: -7em;
}

.explorer-panel-bottom.panel-bottom.closed {
    transform: translateY(400px);
}

.explorer-panel-bottom.panel-bottom .showFilters {
    top: -2em;
}


.explorer-panel-bottom .explorer-panel-bottom-content {
    overflow-y: scroll;
    overflow-x: auto;
    height: 400px;
}

.explorer-panel-bottom .showFilters .showFilters:hover, .explorer-panel-bottom .showFilters {
    color: #333;
}