/*CSS added to the CMPParentMaster.master file so used everywhere*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before,
    *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

html {
    font-size: 10px;
    position: relative;
    min-height: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: scrollbar;
}

body {
    margin: 0 2.5% 158px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.428571429;
    color: #333;
    background-color: #ffffff;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

::-moz-selection {
    background: #0097d1;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #0097d1;
    color: #fff;
    text-shadow: none;
}
/* Link Styles */
a:link,
a:visited,
a:active {
    color: #0097d1;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

a:active {
    outline: none;
}

img {
    vertical-align: middle;
}

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}

.img-rounded {
    border-radius: 3px;
}

.img-thumbnail {
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 18px;
    margin-bottom: 18px;
    border: 0;
    border-top: 1px solid #ccc;
}

.ui-helper-hidden-accessible,
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

#header {
    position: relative;
    background-color: #fff;
}

/* Typography */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

    h1 small,
    .h1 small,
    h1 .small,
    .h1 .small,
    h2 small,
    .h2 small,
    h2 .small,
    .h2 .small,
    h3 small,
    .h3 small,
    h3 .small,
    .h3 .small,
    h4 small,
    .h4 small,
    h4 .small,
    .h4 .small,
    h5 small,
    .h5 small,
    h5 .small,
    .h5 .small,
    h6 small,
    .h6 small,
    h6 .small,
    .h6 .small {
        font-weight: normal;
        line-height: 1;
        color: #bbb;
    }

h1,
.h1,
h2,
.h2,
h3,
.h3 {
    margin-top: 18px;
    margin-bottom: 9px;
}

    h1 small,
    .h1 small,
    h2 small,
    .h2 small,
    h3 small,
    .h3 small,
    h1 .small,
    .h1 .small,
    h2 .small,
    .h2 .small,
    h3 .small,
    .h3 .small {
        font-size: 65%;
    }

    h1 i.small,
    .h1 i.small,
    h2 i.small,
    .h2 i.small,
    h3 i.small,
    .h3 i.small,
    h1 .i.small,
    .h1 .i.small,
    h2 .i.small,
    .h2 .i.small,
    h3 .i.small,
    .h3 .i.small {
        font-size: 85%;
        color: inherit;
    }

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 9px;
    margin-bottom: 9px;
}

    h4 small,
    .h4 small,
    h5 small,
    .h5 small,
    h6 small,
    .h6 small,
    h4 .small,
    .h4 .small,
    h5 .small,
    .h5 .small,
    h6 .small,
    .h6 .small {
        font-size: 75%;
    }

h1,
.h1 {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.03em;
}

h2,
.h2 {
    font-size: 21px;
}

h3,
.h3 {
    font-size: 18px;
}

h4,
.h4 {
    font-size: 16px;
}

h5,
.h5 {
    font-size: 13px;
}

h6,
.h6 {
    font-size: 11px;
}

.moduleTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 115%;
    /*padding: 10px 0 5px;*/
}
/* .capsTitle {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 0 5px;
  margin: 0;
} */
p {
    margin: 0 0 10px;
}

.lead {
    margin-bottom: 18px;
    font-size: 14px;
    font-weight: 200;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .lead {
        font-size: 19.5px;
    }
}

small,
.small {
    font-size: 85%;
}

.large {
    font-size: 125%;
}

.xlarge {
    font-size: 165%;
}

mark,
.mark {
    padding: 0.2em;
    background-color: #ffc;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-middle,
.text-middle td {
    vertical-align: middle !important;
}

.text-top,
.text-top td {
    vertical-align: top !important;
}

.text-bottom,
.text-bottom td {
    vertical-align: bottom !important;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-muted {
    color: #cccccc;
}

.text-primary {
    color: #0097d1;
}

a.text-primary:hover {
    color: #00729e;
}

.text-success {
    color: #6c8725;
}

a.text-success:hover {
    color: #4c5f1a;
}

.text-info {
    color: #103c68;
}

a.text-info:hover {
    color: #09223c;
}

.text-warning {
    color: #f7941d;
}

a.text-warning:hover {
    color: #d97a08;
}

.text-danger {
    color: #ba3c1b;
}

a.text-danger:hover {
    color: #8d2e15;
}

.bg-primary {
    color: #fff;
    background-color: #0097d1;
}

a.bg-primary:hover {
    background-color: #00729e;
}

.bg-success {
    background-color: #ecee9a;
}

a.bg-success:hover {
    background-color: #e4e76e;
}

.bg-info {
    background-color: #a2caec;
}

a.bg-info:hover {
    background-color: #78b2e3;
}

.bg-warning {
    background-color: #ffdd7f;
}

a.bg-warning:hover {
    background-color: #ffcf4c;
}

.bg-danger {
    background-color: #f7bfad;
}

a.bg-danger:hover {
    background-color: #f29b7f;
}

.page-header {
    position: relative;
}

.flip-x {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.flip-y {
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    transform: scaleY(-1);
    filter: FlipV;
    -ms-filter: "FlipV";
}

.u-rotate-90 {
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 9px;
}

    ul ul,
    ol ul,
    ul ol,
    ol ol {
        margin-bottom: 0;
    }

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

    .list-inline > li {
        display: inline-block;
        padding-left: 5px;
        padding-right: 5px;
    }

        .list-inline > li:first-child {
            padding-left: 0;
        }

dl {
    margin-top: 0;
    margin-bottom: 18px;
}

dt,
dd {
    line-height: 1.428571429;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0;
    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .dl-horizontal {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: row wrap;
    }

        .dl-horizontal dt {
            float: left;
            width: 160px;
            clear: left;
            text-align: right;
            margin-right: 20px;
            margin-bottom: 5px;
        }

        .dl-horizontal dd {
            width: calc(100% - 190px);
        }

        .dl-horizontal.dl-label dt {
            text-align: left;
            min-width: 80px;
            width: 80px;
        }

        .dl-horizontal.dl-label dd {
            width: calc(100% - 100px);
        }

        .dl-horizontal.key dt {
            width: 25px;
        }

        .dl-horizontal.key dd {
            margin-left: 35px;
            width: calc(100% - 80px);
        }
}

.ie8 .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    margin-right: 20px;
    margin-bottom: 5px;
}

.ie8 .dl-horizontal dt {
    width: auto;
    min-width: 160px;
}

.ie8 .dl-horizontal dd {
    margin-left: 180px;
}

.ie8 .dl-horizontal.dl-label dd,
.ie9 .dl-horizontal.dl-label dd {
    margin-left: 100px;
}

.ie8 .dl-horizontal.key dt {
    width: 25px;
    min-width: 0;
}

.ie8 .dl-horizontal.key dd {
    margin-left: 90px;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted #cccccc;
}

address {
    margin-bottom: 18px;
    font-style: normal;
    line-height: 1.428571429;
}

.super {
    vertical-align: super;
    font-size: smaller;
}

#footer {
    background-color: #e5e5e5;
    width: 100.1%;
    margin: 0 -2.62%;
    padding: 5px 2.5% 0;
    border-top: 1px solid #ccc;
    border-bottom: 8px solid #0097d1;
    position: absolute;
    bottom: 0;
    color: #888c8d;
    height: 158px;
}

    #footer ul {
        list-style: none;
        padding: 0;
        line-height: 165%;
    }

    #footer a {
        color: #888c8d;
    }

    #footer .icon-ihs {
        font-size: 70px;
        margin: 7px 0 0;
        opacity: 0.3;
        transition: opacity 0.2s;
    }

    #footer .logo a:hover .icon-ihs {
        opacity: 0.8;
    }

    #footer .social i {
        background-size: 62%;
        /*border: 2px solid #444;*/
        background-color: #444;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
        filter: alpha(opacity=30);
        opacity: 0.3;
        transition: background-color 0.2s, opacity 0.2s;
    }

        #footer .social i.icon-facebook {
            background-position: 44% 57%;
        }

        #footer .social i.icon-twitter {
            background-position: 54% 60%;
        }

    #footer .social a:hover {
        text-decoration: none;
    }

        #footer .social a:hover i {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
            filter: alpha(opacity=80);
            opacity: 0.8;
        }

            #footer .social a:hover i.icon-facebook {
                background-color: #3b5998;
            }

            #footer .social a:hover i.icon-twitter {
                background-color: #00aced;
            }

            #footer .social a:hover i.icon-linkedin {
                background-color: #007bb6;
            }

            #footer .social a:hover i.icon-youtube {
                background-color: #bb0000;
            }

    #footer .social a span {
        color: #888c8d;
        font-style: normal;
        left: 30px;
        position: absolute;
        top: 0;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
    }

    #footer .social a:hover span {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

    #footer .grid > div {
        padding: 0;
        margin: 10px 0;
    }

        #footer .grid > div.social {
            padding-top: 20px;
            position: relative;
        }

    #footer .grid .grid-1 {
        border-top: 1px solid #ccc;
        margin: 0 -2.5%;
        padding: 5px 2.5%;
        width: 105%;
    }

        #footer .grid .grid-1 a {
            padding: 0 10px;
            border-right: 1px solid #ccc;
        }

            #footer .grid .grid-1 a:last-child {
                border-right: none;
            }

@media (max-width: 991px) {
    #footer .icon-ihs {
        font-size: 45px;
        margin-top: 20px;
    }

    #footer .grid > div.social {
        padding-top: 25px;
    }

    #footer .social i {
        width: 32px;
        height: 32px;
        margin-right: 0;
    }

    #footer .social a i:after {
        display: none;
    }
}

@media (max-width: 767px) {
    #footer {
        font-size: 12px;
    }

        #footer ul {
            line-height: 180%;
        }

        #footer .grid > div.social {
            padding-top: 5px;
        }
}

@media (max-width: 619px) {
    #footer {
        font-size: 11px;
        border-bottom-width: 3px;
    }

        #footer ul {
            line-height: 125%;
        }

        #footer .grid > div {
            padding-top: 0;
            width: 33%;
            margin: 3px 0;
        }

        #footer .social i {
            width: 25px;
            height: 25px;
            margin-right: 0;
        }

        #footer .grid > div.social {
            width: 100%;
            padding-top: 0;
            margin-top: -10px;
            text-align: center;
        }

        #footer span.visible-xs {
            display: none !important;
        }

        #footer .grid .grid-1 {
            text-align: center;
        }

            #footer .grid .grid-1 .pull-right {
                display: block;
                float: none !important;
            }
}

#scroll-to-top {
    position: fixed;
    background: #fff url("/Assets/Images/backtotop.png") no-repeat center center;
    bottom: 44px;
    right: 22px;
    width: 33px;
    height: 29px;
    z-index: 2000;
    display: none;
    opacity: 0.2;
    filter: alpha(opacity=40);
}

    #scroll-to-top:hover {
        opacity: 0.6;
        filter: alpha(opacity=60);
    }

#quickMessage,
.quickMessage {
    display: none;
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: auto;
    z-index: 100000;
    max-width: 40%;
}

.hand {
    cursor: pointer;
}

#notifications {
    z-index: 3000;
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 300px;
    min-height: 150px;
    background-color: #666666;
    color: white;
    font-size: 15px;
    filter: alpha(opacity=90);
}

    #notifications a {
        color: white;
    }

    #notifications .notificationsClose {
        background: url(/App_Themes/Default/Images/docClose.gif) no-repeat center center;
        height: 21px;
        width: 21px;
        float: right;
        background-color: #2d2e31;
        cursor: pointer;
    }

        #notifications .notificationsClose:hover {
            background-color: #949494;
        }

    #notifications .notificationsTitle {
        float: right;
        background-color: #2d2e31;
        width: 279px;
        height: 21px;
        text-align: center;
    }

    #notifications .notificationsSwitchOff {
        position: absolute;
        bottom: 0;
        cursor: pointer;
    }

    #notifications .notificationsContent {
        position: absolute;
        top: 20px;
        margin: 10px 30px 10px 20px;
        min-height: 120px;
        overflow: auto;
    }

.highlight {
    background-color: #ffffaa;
}

.highlightDisabled {
    background-color: transparent !important;
}

.inlineLinkContainer {
}

    .inlineLinkContainer .inlineLinkAnchor {
        display: inline;
    }

    .inlineLinkContainer.linksDisabled .inlineLinkAnchor {
        display: none;
    }

    .inlineLinkContainer .inlineLinkSpan {
        display: none;
    }

    .inlineLinkContainer.linksDisabled .inlineLinkSpan {
        display: inline;
    }

.webuiPopover-content {
    display: none;
}

#quickMessageText {
    white-space: pre-line;
}

#settingMenu li label {
    width: 100%;
    display: block;
    padding: 3px;
    width: calc(100% + 30px);
}

    #settingMenu li label > span:nth-of-type(n + 2) {
        display: inline-block;
        width: calc(100% - 60px);
        white-space: normal;
        vertical-align: text-top;
    }

#settingMenu > li {
    padding: 0 15px 0 0;
}

    #settingMenu > li > a {
        padding: 3px;
    }

#settingMenu .dropdown-menu {
    min-width: 276px;
    color: #333;
}

button:hover i.grey2,
button:focus i.grey2 {
    opacity: 1;
}

#userNotificationsContainer {
    position: fixed;
    bottom: 15px;
    z-index: 1000;
    width: 100%;
}

#userNotificationsDivs {
    max-height: 150px;
}

#userNotifications {
    margin: auto;
    background-color: white;
    width: 50%;
    min-width: 400px;
    border-radius: 5px;
    -webkit-box-shadow: 8px 8px 5px -3px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 8px 8px 5px -3px rgba(0, 0, 0, 0.19);
    box-shadow: 8px 8px 5px -3px rgba(0, 0, 0, 0.19);
    padding: 10px 20px 20px 40px;
    border: 1px solid #b0c4de;
    /**overflow-y: auto;**/
    max-height: 200px;
}

.ui-resizable {
    position: relative;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.inline-img {
    vertical-align: text-bottom;
}

.para p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
}