body.MapPage {
    overflow-x: hidden;
}
body.MapPage #container {
    margin: 0px -2.65% -77px;
}

body.MapPage #filter {
    width: 270px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
    display: block !important;
    height: calc(100% - 125px);
    left: 0px;
    min-width: 250px;
    position: absolute;
    z-index: 400;
    transform: translate(0);
    -webkit-transition: transform .5s cubic-bezier(.3,0,0,1), border-color .5s;
    transition: transform .5s cubic-bezier(.3,0,0,1), border-color .5s;
}

    body.MapPage #filter.closed {
        margin-left: 0px;
        transform: translate(-270px);
    }

    body.MapPage #filter > .showFilters {
        right: -25px;
    }

    body.MapPage #filter + #main {
        padding: 0 !important;
        margin: 0 !important;
    }

    body.MapPage #filter.closed + #main > div#mapSearchBar {
        transform: translateX(0);
    }

#mapSearchBar {
    -webkit-transition: transform .5s cubic-bezier(.3,0,0,1);
    transition: transform .5s cubic-bezier(.3,0,0,1);
    transform: translateX(270px);
}

#mapToolbar {
    position: absolute;
    right: 65px;
    top: 20px;
    z-index: 100;
}

.esriOverviewMap {
    -webkit-transition: transform .5s cubic-bezier(.3,0,0,1);
    transition: transform .5s cubic-bezier(.3,0,0,1);
    transform: translateX(270px);
}

body.MapPage #filter.closed + #main .esriOverviewMap {
    transform: translateX(0);
}

body.MapPage body.fullscreen {
    overflow: hidden;
}

.beta::after {
    background-color: #bed158;
    border-radius: 3px;
    color: #fff;
    content: "BETA";
    font-size: 15px;
    letter-spacing: 0;
    padding: 3px 5px;
    margin-bottom: 10px;
    display: inline-block;
}

.baseMapIcon {
    width: 80px;
    height: 80px;
    background-image: url(/Assets/Images/Map/baseMaps.png);
    cursor: pointer;
}

    .baseMapIcon.Roads {
        background-position: -320px 0px;
    }

    .baseMapIcon.Aerial {
        background-position: -400px 0px;
    }

    .baseMapIcon.Aerial_with_labels {
        background-position: -480px 0px;
    }

    .baseMapIcon.Topography {
        background-position: -240px 0px;
    }

#mapToolbar .dropdown-menu {
    min-width: 80px;
}

#mapToolbar .countryOverviewDropdown select {
    width: 200px;
}

#mapToolbar .countryOverviewDropdown .chosen-container a {
    height: 34px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    line-height: 30px;
}

    #mapToolbar .countryOverviewDropdown .chosen-container a div {
        /* The down arrow */
        top: 5px;
    }

.loading-long-description:before, .loading-long-description:after {
    margin-top: -65px !important;
}

.map-legend {
    margin-left: -150px;
    position: absolute;
    bottom: 25px;
    right: 10px;
    background-color: white;
    padding: 1px;
    border-radius: 3px;
    width: 79px;
    height: 20px;
    margin: 0;
    overflow: hidden;
}

    .map-legend .map-legend-key {
        border-radius: 3px;
    }

    .map-legend ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .map-legend.map-legend-expanded {
        min-width: 250px;
        width: auto;
        height: auto;
    }

/** override esri search control classes **/
.searchBtn {
    background: #32b540;
    background: radial-gradient(ellipse 135% 125% at -5% 10%, #32b540 0%,#32b540 40%,#31908a 100%);
}

    .searchBtn:hover,
    .searchBtn:focus {
        background: #32b540 !important;
    }

.searchIcon.esri-icon-search {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='200' width='200' viewBox='0 0 1000 1000'%3E%3Cpath fill='%23FFF' d='M678.7 464q0-103-74-176t-176-74-177 74-73 176 73 177 177 73 176-73 74-177zm286 465q0 29-22 50t-50 21q-30 0-50-21l-191-191q-100 69-223 69-80 0-153-31t-125-84-84-125-31-153 31-152 84-126 125-84 153-31 152 31 126 84 84 126 31 152q0 123-69 223l191 191q21 21 21 51z'/%3E%3C/svg%3E");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.1em 0.2em 0 0;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
    height: 1em;
}

    .searchIcon.esri-icon-search::before {
        content: none;
    }

.esriSimpleSliderDecrementButton {
    border-top: 1px solid #666666;
}

.display-none {
    display: none !important;
}

#scaleWrapper {
    position: absolute;
    bottom: 40px;
    right: 7px;
    opacity: 0.9;
    z-index: 10;
    /*height: 75px;*/
    width: 200px;
    padding: 5px;
    background: rgba(248,248,248,0.6);
    margin-bottom: 0;
}

/*@media (max-width:730px){
     #scaleWrapper {
        top: 104px;
        left: 10px;
        right: inherit;
    }   
}*/

#scalebar {
    height: 30px;
}

.mapModal {
    overflow-y: auto;
}

#countryOverviewModal.mapModal .modal-dialog {
    width: 600px !important;
}

#mapItemModal.mapModal .modal-dialog {
    width: 450px;
    height: 650px;
}

body.MapPage .modal-open {
    overflow: auto;
}

    body.MapPage .modal-open[style] {
        padding-right: 0px !important;
    }

.mapModal .modal-dialog {
    opacity: 1.0;
}

.mapModal .ui-resizable-se {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    background-image: url(/assets/css/images/ui-icons_222222_256x240.png);
    background-position: -80px -224px;
    cursor: se-resize;
}

.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 99999;
    display: block;
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0px;
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0px;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0px;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0px;
    height: 100%;
}


.modal-open .modal.mapModal {
    overflow: visible;
}

.mapModal .modal-dialog.ui-resizable,
.mapModal .modal-content {
    min-height: 203px;
    min-width: 300px;
}

.mapModal-Expanded {
    width: 100% !important;
    max-width: 1200px;
    min-width: 800px !important;
}
.mapModal-Collapsed {
    min-width: 300px !important;
}

.mapModal .modal-header {
    min-height: 52px;
}

.mapModal .modal-dialog.ui-resizable .modal-body {
    height: 90%;
    height: calc(100% - 103px);
    margin-bottom: 51px;
    overflow-y: auto;
}

.mapModal .modal-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
}

.mapModal .modal-content {
    height: 100%;
}

.widget .modal .list-group {
    margin: initial;
}

.map-bubble-tip {
    top: 0;
}

.map-tooltip th {
    text-align: center;
    min-width: 2em;
    height: 2em;
    position: relative;
    vertical-align: baseline;
}

    .map-tooltip th img,
    .map-tooltip th svg {
        height: 2em;
        width: 2em;
        max-height: 20px;
        max-width: 20px;
    }

    .map-tooltip th span {
        position: relative;
    }

.map-tooltip td {
    text-align: left;
    padding-left: .5em;
    white-space: nowrap;
}

.filter-layers img + input[type="checkbox"] + label {
    margin-left: 2px;
}

.esriBasemapGallery {
    width: 250px;
}

.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
    margin: 1px;
}

.esriBasemapGalleryLabelContainer {
    font-size: 11px;
}

#mapSearchBar {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 99;
}

    #mapSearchBar .mapSearchOptions {
        border: 1px solid #57585A;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        height: 34px;
    }

    #mapSearchBar .searchInput {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }

    #mapSearchBar .facetSearchBar {
        float: left;
    }

        #mapSearchBar .facetSearchBar .searchInput {
            border-left-width: 0;
        }

    #mapSearchBar .searchBarWarning {
        margin-top: 36px;
        float: right;
        margin-left: -283px;
        width: 283px;
        border: 1px solid #57585A;
        border-radius: 4px;
        color: #4c4c4c;
        font-size: 14px;
        line-height: 16px;
    }

.filter-inner-outer,
.filter-inner {
    overflow-y: auto;
    margin-right: -20px;
    padding-right: 20px;
    position: relative;
    max-height: 96.8vh;
    height: 100%;
}

.filter-inner-outer {
    overflow: hidden;
}

.filter-inner > .nav {
    position: relative;
    position: sticky;
    width: 100%;
    z-index: 1;
    top: 0px;
}

.checkboxes .filter-layers input.mapLayerTree[type=checkbox] ~ a {
    padding-right: 0;
}

.checkboxes .filter-layers > [data-bind^="template:"] {
    position: relative;
    /* margin-left: 10px; */
}

.checkboxes .filter-layers {
    margin-left: 15px;
}

    .checkboxes .filter-layers input[type=checkbox], .checkboxes .filter-layers input[type=checkbox] + label {
        margin-left: 0;
    }

.checkboxes  .filter-layers  .icon-down-dir, .checkboxes  .filter-layers  .icon-up-dir  {
    /* Quick fix to allow QA to test facets. The arrow was being hidden by the new filters*/
    margin-left:  -20px;
}

.checkboxes .filter-layers a {
    padding-right: 0;
    width: calc(100% - 22px);
    margin-left: -5px;
}

.filter-layers input[type=checkbox] + label.icon-collapse-arrow:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: #444 transparent transparent transparent;
    margin: 3px 0 0 2px;
    background-color: transparent;
}

.filter-layers input[type=checkbox]:checked + label.icon-collapse-arrow:before {
    border-color: transparent transparent #444 transparent;
    margin: -3px 0 0 2px;
}

.filter-layers input[type=checkbox] + label.icon-collapse-arrow:after {
    display: none;
}

ul.filter-layers > li {
    margin-bottom: 0.2em;
}

.icon-down-dir.on {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%208%2014%22%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M7.994%209.506q0%20.196-.14.35t-.35.14h-7q-.21%200-.35-.14T0%209.506t.154-.364l3.5-3.5q.14-.14.35-.14t.35.14l3.5%203.5q.14.154.14.364z%22/%3E%3C/svg%3E');
}

    .icon-down-dir.on:hover {
        background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%208%2014%22%3E%3Cpath%20fill%3D%22%230097d1%22%20d%3D%22M7.994%209.506q0%20.196-.14.35t-.35.14h-7q-.21%200-.35-.14T0%209.506t.154-.364l3.5-3.5q.14-.14.35-.14t.35.14l3.5%203.5q.14.154.14.364z%22/%3E%3C/svg%3E');
    }

.ie8 .icon-down-dir.on {
    background-image: url('data:image/gif;base64,R0lGODlhCAAFAJEAAERERP///9zc3AAAACH5BAAAAAAALAAAAAAIAAUAAAIMjCWmApDXWmJR1loAADs=');
    background-position: left 5px;
}

    .ie8 .icon-down-dir.on:hover {
        background-image: url('data:image/gif;base64,R0lGODlhCAAFAIAAAP///wCX0SH5BAAAAAAALAAAAAAIAAUAAAIKhI8QkbvnnIquAAA7');
        background-position: left 5px;
    }

.marker-key {
    height: 16px;
    width: 16px;
    vertical-align: top;
    margin-top: 0px;
}

.MapPage .modal-scrollbar-measure {
    overflow: hidden;
}

#map_layers path {
    stroke-linejoin: round !important;
}

.btn-group .filter.btn input.checkbox[type=checkbox] + label {
    margin-left: 0;
}

.map-panel-bottom.panel-bottom {
    height: 140px;
}

    .map-panel-bottom.panel-bottom.closed {
        transform: translateY(140px);
    }

#temporalSlider {
    height: 100%;
}

div#scaleWrapper {
    bottom: 180px;
}

.MapPage #MapWrapper .esriControlsBR {
    bottom: 145px;
}

.MapPage #main {
    overflow: hidden;
}

.MapPage #filter + #main > .panel-bottom {
    padding-left: calc(270px + 2em);
    -webkit-transition: padding .5s cubic-bezier(.3,0,0,1), transform .5s cubic-bezier(.3,0,0,1);
    transition: padding .5s cubic-bezier(.3,0,0,1), transform .5s cubic-bezier(.3,0,0,1);
}

.MapPage #filter.closed + #main > .panel-bottom {
    padding-left: 2em;
}

.MapPage .webui-popover {
    background: #fff;
    height: auto;
    width: auto;
}

#MapWrapper div#scaleWrapper,
#MapWrapper .esriControlsBR {
    transform: translateY(0);
    -webkit-transition: transform .5s cubic-bezier(.3,0,0,1);
    transition: transform .5s cubic-bezier(.3,0,0,1);
}

#MapWrapper.bottom-panel-closed div#scaleWrapper,
#MapWrapper.bottom-panel-closed .esriControlsBR {
    transform: translateY(140px);
}

.highcharts-button[data-play] rect {
    fill: #2CA2DC !important;
}
.dijitMenuItem{
    border-left: 3px solid #ffffff;
}
.dijitMenuItem .dijitMenuItemLabel {
    padding: 0.5em 1em;
    /* box-sizing: border-box; */
}
.dijitMenuPassive .dijitMenuItemHover{
    background:#fff;
}
.dijitMenuItemSelected,
.dijitMenuItemHover
{
    background-color: #f8f8f8;
    border-left-color: #0097d1;
}
.dijitMenuItemSelected .dijitMenuItemLabel,
.dijitMenuItemHover .dijitMenuItemLabel
{
    color: #0097d1;
    background-color: #f8f8f8;
}
.dijitMenuSeparatorTop {
    border-bottom: 1px solid #cccccc;
    margin: 0;
}
.dijitMenuSeparatorBottom {
    margin:0;
}

.esriMeasurement .esriButton .dijitButtonNode {
    border: 1px solid #ccc;
    border-radius: 3px;
}


.esriMeasurement .esriButtonHover .dijitButtonNode,
.esriMeasurement .esriButtonFocused .dijitButtonNode {
    background: #ddd;
}

.esriMeasurement .esriButtonChecked .dijitButtonNode {
    background: #ddd;
    border-color: #999;
    border:2px solid #96BC33;
}

.esriMeasurement .esriToggleButton .dijitButtonNode {
    padding: 3px 5px 3px 10px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}

span.dijitReset.dijitInline.dijitArrowButtonInner {
    background: i;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%22200%22%20width%3D%22200%22%20viewBox%3D%220%200%201000%201000%22%3E%3Cpath%20fill%3D%22%23444%22%20d%3D%22M785.3%20393q0%2014-10%2025l-250%20250q-11%2011-25%2011t-25-11l-250-250q-11-11-11-25t11-25%2025-11h500q14%200%2025%2011t10%2025z%22%2F%3E%3C%2Fsvg%3E");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    margin: 0.2em 0.2em -0.15em;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    width: 1em;
    height: 1em;
}

.dijitPopup {
    z-index:  1050 !important;
    box-shadow:
          0 4px 8px 0 rgba(0,0,0,0.12),
          0 2px 4px 0 rgba(0,0,0,0.08);
}


.modal.measurement {
    top: initial;
    bottom: initial;
    left: initial;
    right: initial;
    top: 50px;
}
    .modal.measurement .modal-dialog{
        margin-top: 0;
    }

#map.focus .loading {
    top: 10%;
}
#basemapContainer {
    max-height: 70vh;
    overflow-y: auto;
}
ul.nav.nav-tabs > li > a > span.badge {
    padding-top: 2px !important;
}