

<div id="ChartsAvailableToggle" class="hidden ChartsAvailable">
    <a href="#" onclick="ToggleChartList();">
        <div id="chartListDisc" class="rcorners1 rCornersUp">

            <i class="icon-chart-bar xlarge white ChartsAvailableIcon">
            </i>

        </div>
    </a>
</div>
<div class="ChartsAvailable hidden" id="ChartListDiv">
    <div id="ChartListDivInner">

        <div style="width:49%;float:left;    border-right: 1px solid #ccc;">
            <h4>Try some ready made charts</h4>
            <h2>Regional Charts</h2>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_YEAR','INCIDENT_COUNT','REGION')}"><h5>Incidents per <strong>Year</strong> by <strong>Region</strong></h5></a>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_YEAR','INCIDENT_COUNT','NOTHING')}"><h5>Incidents per <strong>Year</strong> </h5></a>
            <a data-bind="click:function(){$data.addPreCannedChart('REGION','INCIDENT_COUNT','NOTHING')}"><h5>Incidents per <strong>Region</strong> </h5></a>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_COUNTRY','INCIDENT_COUNT','REGION')}"><h5>Incidents per <strong>Country</strong> </h5></a>
           
            <h5>Incidents per <strong>YEAR</strong> by <strong>REGION</strong></h5>
            <h5>Incidents Per Region</h5>
            <hr />
           
            @*<img width="80%" src="~/Assets/Images/BlurredContent/blurredMandAChart.png" />*@
            <h2>Most Prolific Groups</h2>
          
            <a data-bind="click:function(){$data.addPreCannedChart('EVENTACTORNAME','INCIDENT_COUNT','EVENT_COUNTRY', [{key:'EVENT_TYPE',value:'NSAG Attack'}])}">
            <h5>Incidents per <strong>Group</strong> by <strong>Country</strong></h5></a>

            <a onclick="alert();"><h5>Incidents per <strong>Year</strong> </h5></a>
            
            <h5>Incidents per <strong>YEAR</strong> by <strong>REGION</strong></h5>
            <h5>Incidents Per Region</h5>
            <hr />
            <h2>Fatalities</h2>
            <a onclick="alert();"><h5>Incidents per <strong>Year</strong> by <strong>Region</strong></h5></a>
            <a onclick="alert();"><h5>Incidents per <strong>Year</strong> </h5></a>

            <h5>Incidents per <strong>YEAR</strong> by <strong>REGION</strong></h5>
            <h5>Incidents Per Region</h5>
            <hr />
        </div>
        <div style="width:49%;float:left;      padding: 10px;">
            
            <h4>Group Activity</h4>
           <h2>Boko Haram</h2>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_YEAR','INCIDENT_COUNT','NOTHING',[{key:'EVENTACTORNAME', value:'Boko Haram', clearExisting:true}])}">
                <h5>Incidents per <strong>Year</strong></h5></a>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_COUNTRY','INCIDENT_COUNT','NOTHING',[{key:'EVENTACTORNAME', value:'Boko Haram', clearExisting:true}])}">
                <h5>Incidents per <strong>Country</strong></h5>
            </a>
            <h5><strong>Total killed</strong> By <strong>Country</strong></h5>
           <hr />
            <h2>Islamic State</h2>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_YEAR','INCIDENT_COUNT','NOTHING',[{key:'EVENTACTORNAME', value:'Islamic State', clearExisting:true}])}">
                <h5>Incidents per <strong>Year</strong></h5>
            </a>
            <a data-bind="click:function(){$data.addPreCannedChart('EVENT_COUNTRY','INCIDENT_COUNT','NOTHING',[{key:'EVENTACTORNAME', value:'Islamic State', clearExisting:true}])}">
                <h5>Incidents per <strong>Country</strong></h5>
            </a>

        </div>

       
    </div>
</div>

 <script>
     function ToggleChartList() {
         $('#ChartListDiv').toggleClass("hidden", 250);
         $('#chartListDisc').toggleClass("rCornersUp");
         $('#chartListDisc').toggleClass("rCornersDown");

         $('#ChartListDiv').draggable();
     }


 </script>

<style>
    .ChartsAvailableIcon {
        top: -3px;
        position: relative;
    }

    .ChartsAvailable {
        position: absolute;
        right: 100px;
        top: -75px;
        z-index: 10000;
    }
    .rCornersDown {
        border:1px solid;
    }

    .rCornersUp {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .rcorners1 {
        cursor: pointer;
        border-radius: 25px;
        background: #73AD21;
        padding: 10px;
        text-align: center;
    }

    #ChartListDiv {
        width: 690px;
        top: -16px;
        right: 40px;
        background-color: #fff; /*#D0E4F5;*/
        border-radius: 10px;
        padding: 20px;
        color: #333333;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


    #ChartListDivInner {
        /*overflow-y: scroll;*/
        max-height: 600px;
    }
    #ChartListDivInner a{
        cursor:pointer;
    }
        #ChartListDivInner h2 {
            color: #444;
            background-color: #eee;
            margin-right: 10px;
            line-height:1.7;
            padding-left:7px;
        }
 
</style>
