<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="CMPDataProvider" type="IHS.Apps.CMP.DataProviders.DataProviderConfiguration, IHS.Apps.CMP.DataProviders" />
    <section name="fastDataProviderSettings" type="IHS.Apps.CMP.DataProviders.FastProviderObjects.FastDataProviderConfiguration, IHS.Apps.CMP.DataProviders" />
    <section name="CMPCache" type="IHS.Apps.CMP.DatabaseAccess.CacheConfiguration, IHS.Apps.CMP.DatabaseAccess" />
    <section name="TableauDefault" type="IHS.Apps.CMP.Web.Classes.Tableau.Proxy.Config.TableauProxyConfig, IHS.Apps.CMP.Web" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="TableauProxySection" type="IHS.Apps.CMP.Web.Classes.Tableau.Proxy.Config.TableauProxyConfig, IHS.Apps.CMP.Web" />
    <section name="BaseUrls" type="IHS.Apps.CMP.Web.Classes.BaseUrls.BaseUrlsSection, IHS.Apps.CMP.Web" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <TableauProxySection>
    <!-- Paths for the 2 handlers required -->
    <handlerPaths proxy="TableauHost" api="vizql" download="t" />
    <!-- target server details-->
    <!-- add intermediateProxyUrl="http://localhost:8888" for fiddler to intercept-->
    <targetServer rootUrl="http://dtableau.ihsglobal.local" sessionCookieName="workgroup_session_id" sessionTimeout="29">
      <paths authInfo="manual/auth.xml" login="vizportal/api/clientxml/auth/login" logout="vizportal/api/clientxml/auth/logout" visualisationRoot="t/ads/views" workbookRoot="t/ads/workbooks" />
      <security>
        <credentials userName="cmp" password="1querty7" />
        <!-- Add any new requests that werent in previous versions here -->
        <sessionTargets>
          <clear />
          <!-- Note the 404 error from vizportal/api/web/v1/getSessionInfo happens on direct web browsing of the Tableau Server or direct api calls when using the cmp user, so not totally unexpected when seen in the proxy calls -->
          <add name="9.0SessionQuery" urlPattern=".*\/vizportal/api/web/v1/getSessionInfo" type="Existing" />
          <add name="9.0TileCache" urlPattern=".*\/[API]\/tilecache\/.*" type="Existing" />
          <add name="viewRequests1" urlPattern=".*\/[API]\/t\/(.+?)\/(?:views|w)\/(.+?)\/.*" type="Existing" />
          <add name="viewRequests2" urlPattern=".*\/[API]\/views/(.+?)/([^/?]+)" type="Existing" />
          <add name="workbookDownloads" urlPattern=".*\/[API]\/t\/(.+?)\/(workbooks)\/(.*?)(\\?)format=twb" type="Existing" />
          <add name="8.3DataDownloads" urlPattern=".*\/[API]\/vud\/sessions\/(.+?)\/views\/.*" type="Existing" />
        </sessionTargets>
      </security>
    </targetServer>
    <cacheTargets>
      <clear />
      <!-- pattern matches vizql/v_9[Any amount of numbers]/[Any path]/[Any characters].[jpg or bmp etc.]-->
      <!-- cache settings have 2 values serverCacheDuration and clientCacheDuration client cache duration is small to minimize any out of date file issues-->
      <!-- cache requests for the tableau wait spinner image fixed cache key as its a single image for all requests added to top to ensure the next cache entry is not used instead-->
      <add name="spinner" urlPattern=".*\/.*\/30x30Rev.gif$" serverCacheDuration="1200" clientCacheDuration="30" fixedUrlForCache="/Tableau/30x30Rev.gif" />
      <!-- no issue with Tableau versioned resources being cached for a very long duration still being conservative limit client side caching-->
      <add name="apiResource" urlPattern=".*\/[API]\/v_9[0-9]+\/.*\.(jpg|bmp|png|jpeg|gif|css|js)$" serverCacheDuration="1200" clientCacheDuration="30" />
      <!-- Because the main api isn't versioned cache for small duration on the client, any tableau server update would require the cached files to be cleared or iis restarted include a small client cache to help with hits but not hold the file client side for very long -->
      <add name="apiMain" urlPattern=".*\/[PROXY]\/javascripts\/api\/.*\.(js)$" serverCacheDuration="1200" clientCacheDuration="10" />
      <!-- because images may be updated, but requests are slow set a balanced cache duration and still cache on client for 10 minutes worse case scenario is the images are outdated for 10 minutes if files are cleared out server side-->
      <add name="vizImage" urlPattern=".*\/[PROXY]\/images\/\d*\/viz.png$" serverCacheDuration="360" clientCacheDuration="10" />
      <!-- because workbooks may be updated cache for a small duration-->
      <add name="vizWorkbook" urlPattern=".*\/[PROXY]\/workbooks\/\d*\/viz.twbx$" serverCacheDuration="20" clientCacheDuration="0" />
      <!-- images defined in css at the root *thanks Tableau!) -->
      <add name="rootImages" urlPattern=".*\/images\/.*\.(jpg|bmp|png|jpeg|gif)$" serverCacheDuration="1200" clientCacheDuration="30" />
    </cacheTargets>
    <overrideTargets>
      <clear />
      <!-- NOTE Tableau Server 8.2 and 8.3 css files are different so have to cater for both because our environments are not consistent-->
      <!-- pattern matches vizql/v_90[Any amount of numbers]/css/vqlweb.css This allows Tableau 9.0 minor version upgrades to not break anything-->
      <add name="mainCssFile9.0" urlPattern=".*\/[API]\/v_90[0-9]+\/css/vqlweb.css$" override="/Assets/Css/tableau/vqlweb9.0.css" />
      <!-- pattern matches vizql/v_91[Any amount of numbers]/css/vqlweb.css This allows Tableau 9.0 minor version upgrades to not break anything-->
      <add name="mainCssFile9.1" urlPattern=".*\/[API]\/v_91[0-9]+\/css/vqlweb.css$" override="/Assets/Css/tableau/vqlweb9.1.css" />
      <!-- root images that Tableau references-->
      <add name="mainImageFile" urlPattern=".*\/images\/vqlweb.png$" override="/Assets/Images/tableau/vqlweb.png" />
      <!-- spinner image is referenced at various levels -->
      <add name="spinner" urlPattern=".*\/.*\/30x30Rev.gif$" override="/Assets/Images/tableau/30x30REV.gif" />
    </overrideTargets>
  </TableauProxySection>
  <connectionStrings>
    <!-- GENERAL -->
    <add name="SQL_01_CMP_ASPNetDB" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=CMP_ASPNetDB;uid=CMP_Platform_DEV;password=isAAc2005;Connection Timeout=60" providerName="" />
    <add name="SQL_01_CMP" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=CMP;uid=CMP_Platform_DEV;password=isAAc2005" providerName="System.Data.SqlClient" />
    <add name="SQL_02_EWEConnection" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;Initial Catalog=EWE;Persist Security Info=True;uid=CMP_Platform_DEV;Password=isAAc2005;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="RSS_02_FeedServiceUrl" connectionString="http://localhost:8003/Feeds.svc" providerName="" />
    <!-- GEPS SUITE -->
    <add name="SQL_01_CoreCatalogConnection" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=EditorialCatalog;uid=CMP_Platform_DEV;password=isAAc2005;Pooling=false" providerName="" />
    <add name="SQL_01_PepsProdConnection" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=PEPS_Prod;uid=CMP_Platform_DEV;password=isAAc2005" providerName="" />
    <add name="Field_Profile_Entities" connectionString="metadata=res://*/Peps.Field_Profiles.csdl|res://*/Peps.Field_Profiles.ssdl|res://*/Peps.Field_Profiles.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=peps_prod;persist security info=True;user id=CMP_Platform_DEV;password=isAAc2005;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!-- JANES SUITE -->
    <!-- connection string added purely for health check -->
    <add name="FAST_01_JanesFastServer" connectionString="vip-djanes-fast3.ihs.com:15100:alljanessppublished" />
    <add name="SQL_01_JanesContentSQLConnection" connectionString="data source=v-vwc2djandb01.ihsglobal.local;initial catalog=JanesFastETL;uid=CMP;password=Password77;" providerName="" />
    <add name="SQL_01_JanesSpecsSQLConnection" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=SPECS;uid=CMP_Platform_DEV;password=isAAc2005;Pooling=false" providerName="" />
    <add name="ORA_01_JANES_DEFENCE_BUDGETS" connectionString="User Id=jdb_frontend;Password=jdb_frontend;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = vwc-1urcadmdb-scan.ihsglobal.local)(PORT = 1521))(CONNECT_DATA =(SERVICE_NAME = dfbudgtdha)));" providerName="" />
    <!--<add name="ORA_01_JANES_DEFENCE_BUDGETS" connectionString="User Id=jdb_stage;Password=jdb_stage;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = v-vwc1djandb01.ihsglobal.local)(PORT = 1521))(CONNECT_DATA =(SID = dfbudgtsdev)));" providerName="" />-->
    <add name="ORA_01_JANES_DEFENCE_SECTOR_BUDGETS" connectionString="User Id=budgets_dev;Password=budgets_dev;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = v-vwc1djddb01.dev.ihs.com)(PORT = 1521))(CONNECT_DATA =(SID = JDSF)));" providerName="" />
    <add name="SQL_01_JANES_DEFENCE_PROCUREMENT" connectionString="data source=v-vwc2djandb01.ihsglobal.local;initial catalog=ADES;uid=CMP;password=Password77;" providerName="" />
    <add name="SQL_01_JanesJTICSQLConnection" connectionString="data source=v-vwc2djandb01.ihsglobal.local;initial catalog=JTIC;uid=CMP;password=Password77;" providerName="" />
    <!-- dont delete this pls as so far all devt has been against einstein, just comment out what is right for you-->
    <add name="SQL_01_JTICONLINEConnection" connectionString="data source=v-vwc2djandb01.ihsglobal.local;initial catalog=Events;uid=jticevents;password=Password77;" providerName="" />
    <add name="SQL_01_JANES_DSF14Connection" connectionString="data source=v-vwc2djandb01.ihsglobal.local;initial catalog=Ades;uid=CMP;password=Password77;" providerName="" />
    <add name="GIS_02_CMPLiveMapArcGISService02" connectionString="https://smeridianmapservices.ihsenergy.com/wss/service/ags-relay/EMS_2_00/token" providerName="" />
    <!-- IDD -->
    <add name="SQL_01_IDDSQLServerConnection" connectionString="data source=vwc-2dcmpdb01.ihsglobal.local;initial catalog=WTOnline;uid=CMP_Platform_DEV;password=isAAc2005;Pooling=false; Connection Timeout=600" providerName="" />
    <add name="ORA_02_IDDOracleSCFConnection" connectionString="User Id=ihs_rigs;Password=derrick;Data Source=(DESCRIPTION =  (ADDRESS_LIST = (ADDRESS =  (PROTOCOL = TCP) (HOST = v-vwc1temsdb02.ihsglobal.local) (PORT = 1521))) (CONNECT_DATA = (SERVER = DEDICATED) (SID = ihsgislt)));" providerName="" />
    <add name="GIS_02_CMPLiveMapArcGISService01" connectionString="https://tmapservices.ihs.com/wss/service/ags-relay/EMS_1_00/token" providerName="" />
  </connectionStrings>
  <!-- direct copy from ui project web config-->
  <TableauDefault>
    <!-- Paths for the 2 handlers required -->
    <handlerPaths proxy="TableauHost" api="vizql" download="t" />
    <!-- target server details-->
    <!-- add intermediateProxyUrl="http://localhost:8888" for fiddler to intercept-->
    <targetServer rootUrl="http://vwc-2dtabap01.ihsglobal.local" sessionCookieName="workgroup_session_id" sessionTimeout="29">
      <paths authInfo="manual/auth.xml" login="vizportal/api/clientxml/auth/login" logout="vizportal/api/clientxml/auth/logout" visualisationRoot="t/ads/views" workbookRoot="t/ads/workbooks" />
      <security>
        <credentials userName="cmp" password="1querty7" />
        <sessionTargets>
          <clear />
          <add name="viewRequests1" urlPattern=".*\/[API]\/t\/(.+?)\/(?:views|w)\/(.+?)\/.*" type="Existing" />
          <add name="viewRequests2" urlPattern=".*\/[API]\/views/(.+?)/([^/?]+)" type="Existing" />
          <add name="workbookDownloads" urlPattern=".*\/[API]\/t\/(.+?)\/(workbooks)\/(.*?)(\\?)format=twb" type="Existing" />
          <add name="dataDownloads" urlPattern=".*\/[API]\/vud\/sessions\/(.+?)\/views\/.*" type="Existing" />
        </sessionTargets>
      </security>
    </targetServer>
    <cacheTargets>
      <clear />
      <!-- pattern matches vizql/v_8[Any amount of numbers]/[Any path]/[Any characters].[jpg or bmp etc.]-->
      <!-- cache settings have 2 values serverCacheDuration and clientCacheDuration client cache duration is small to minimize any out of date file issues-->
      <!-- no issue with Tableau versioned resources being cached for a very long duration still being conservative limit client side caching-->
      <add name="apiResource" urlPattern=".*\/[API]\/v_8[0-9]+\/.*\.(jpg|bmp|png|jpeg|gif|css|js)$" serverCacheDuration="1200" clientCacheDuration="30" />
      <!-- Because the main api isn't versioned cache for small duration on the client, any tableau server update would require the cached files to be cleared or iis restarted include a small client cache to help with hits but not hold the file client side for very long -->
      <add name="apiMain" urlPattern=".*\/[PROXY]\/javascripts\/api\/.*\.(js)$" serverCacheDuration="1200" clientCacheDuration="10" />
      <!-- because images may be updated, but requests are slow set a balanced cache duration and still cache on client for 10 minutes worse case scenario is the images are outdated for 10 minutes if files are cleared out server side-->
      <add name="vizImage" urlPattern=".*\/[PROXY]\/images\/\d*\/viz.png$" serverCacheDuration="360" clientCacheDuration="10" />
      <!-- because workbooks may be updated cache for a small duration-->
      <add name="vizWorkbook" urlPattern=".*\/[PROXY]\/workbooks\/\d*\/viz.twbx$" serverCacheDuration="20" clientCacheDuration="0" />
    </cacheTargets>
    <overrideTargets>
      <clear />
      <!-- pattern matches vizql/v_8[Any amount of numbers]/css/vqlweb.css This allows Tableau 8. minor version upgrades to not break anything-->
      <add name="mainCssFile" urlPattern=".*\/[API]\/v_8[0-9]+\/css/vqlweb.css" override="/CustomPages/Janes/analytics/vqlweb.css" />
    </overrideTargets>
  </TableauDefault>
  <CMPCache>
    <caches>
      <add key="JDSF14" expiry_in_minutes="1" enabled="false" />
    </caches>
  </CMPCache>
  <CMPDataProvider>
    <providers>
      <add name="JanesDSF14Provider" type="IHS.Apps.CMP.DataProviders.JdsfTsqlProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="SQL_01_JANES_DSF14Connection" productDependency="Janes Suite" DBType="SQLServer" SQLConfig="/TSQLProviderObjects/Config/JDSF14.xml" />
      <add name="EditorialCatalogProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="GEPS" connectionStringKey="SQL_01_CoreCatalogConnection" productDependency="GEPS Suite" SQLConfig="/TSQLProviderObjects/Config/EditorialCatalogConfig.xml" UseUpperCaseIndexerNames="true" UseShortDates="true" />
      <add name="PepsRRI15Provider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="GEPS" connectionStringKey="SQL_01_PepsProdConnection" productDependency="GEPS_SUITE" DBType="SQLServer" SQLConfig="/TSQLProviderObjects/Config/PEPS15.xml" />
      <add name="PepsFiscalRankingsProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="GEPS" connectionStringKey="SQL_01_PepsProdConnection" productDependency="GEPS_SUITE" DBType="SQLServer" SQLConfig="/TSQLProviderObjects/Config/PEPSFiscalRankings16.xml" />
      <add name="ADMTSQLProvider" type="IHS.Apps.CMP.DataProviders.OracleTSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="GEPS" connectionStringKey="ORA_01_ADMConnection" productDependency="GEPS Suite" SQLConfig="bin/TSQLProviderObjects/Config/ADMConfig.xml" />
      <add name="IDDSQLProvider" type="IHS.Apps.CMP.DataProviders.SQLProvider, IHS.Apps.CMP.DataProviders" applicationNames="IHSDRILLINGDATA" connectionStringKey="SQL_01_IDDSQlServerConnection" productDependency="DRILLINGDATA" DBType="SQLServer" SQLConfig="bin/SQLProviderObjects/Config/SQLConfig.xml" />
      <add name="IDDOracleProvider" type="IHS.Apps.CMP.DataProviders.SQLProvider, IHS.Apps.CMP.DataProviders" applicationNames="IHSDRILLINGDATA" connectionStringKey="ORA_02_IDDOracleSCFConnection" productDependency="DRILLINGDATA" DBType="Oracle" SQLConfig="bin/SQLProviderObjects/Config/SQLConfig.xml" />
      <add name="JanesDefenceBudgetsProvider" type="IHS.Apps.CMP.DataProviders.OracleTSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="ORA_01_JANES_DEFENCE_BUDGETS" productDependency="Janes Suite" DBType="Oracle" SQLConfig="/TSQLProviderObjects/Config/JanesDefenceBudgets.xml" />
      <add name="JanesDefenceProcurementProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="SQL_01_JANES_DEFENCE_PROCUREMENT" productDependency="Janes Suite" DBType="SQLServer" SQLConfig="/TSQLProviderObjects/Config/JanesDefenceProcurement.xml" />
      <add name="JanesSpecsProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="SQL_01_JanesSpecsSQLConnection" productDependency="Janes Suite" DBType="SQLServer" SQLConfig="bin/TSQLProviderObjects/Config/Janes.xml" />
      <add name="JanesJTICSQLProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="SQL_01_JanesJTICSQLConnection" productDependency="Janes Suite" DBType="SQLServer" SQLConfig="bin/TSQLProviderObjects/Config/JanesJTIC.xml" />
      <add name="JanesJTIC_OnlineSQLProvider" type="IHS.Apps.CMP.DataProviders.TSQLProvider, IHS.Apps.CMP.DataProviders" locale="en-GB" applicationNames="JANES" connectionStringKey="SQL_01_JTICONLINEConnection" productDependency="Janes Suite" DBType="SQLServer" SQLConfig="/TSQLProviderObjects/Config/JTICONLINE.xml" />
      <add name="JanesFast" type="IHS.Apps.CMP.DataProviders.JanesDocumentProvider, IHS.Apps.CMP.DataProviders" applicationNames="JANES" productDependency="Janes Suite" userName="cmp-user" pass="cmp-user" server="http://dcmpml.ihs.com:9077" searchFunction="/v1/resources/DocumentQuery" getDocumentFunction="/v1/documents" autoSuggestMainFunction="/v1/resources/MLSuggest" autoSuggestJTICFunction="/v1/resources/MLNSAGSuggest" settingsFile="\FastProviderObjects\config\JanesSettings.config" />
      <add name="JanesDocument" type="IHS.Apps.CMP.DataProviders.JanesDocumentProvider, IHS.Apps.CMP.DataProviders" applicationNames="JANES" productDependency="Janes Suite" userName="cmp-user" pass="cmp-user" server="http://dcmpml.ihs.com:9077" searchFunction="/v1/resources/DocumentQuery" getDocumentFunction="/v1/documents" autoSuggestMainFunction="/v1/resources/MLSuggest" autoSuggestJTICFunction="/v1/resources/MLNSAGSuggest" settingsFile="\FastProviderObjects\config\JanesSettings.config" />
    </providers>
  </CMPDataProvider>
  <BaseUrls>
    <urls>
      <app key="Test" aaa_product_dependency="GEPS Suite" base_urls="test.ihs.com" relogin_url="https://timeouturl.ihsenergy.com" />
      <app key="TestPlaceholder" aaa_product_dependency="Janes Suite" base_urls="testrp.ihs.com" timeout_url="https://timeouturl.ihs.com?callingurl=http%3a%2f%2f{0}" relogin_url="https://relogin.ihs.com/?callingurl=http%3a%2f%2f{0}" />
      <app key="IHSDRILLINGDATA" aaa_product_dependency="DRILLINGDATA" base_urls="local-idd.ihsenergy.com" relogin_url="https://tmy.ihsenergy.com" />
    </urls>
  </BaseUrls>
  <fastDataProviderSettings>
    <domainMaps>
      <domainMap fastDataProviderName="JanesFast" key="JANESFASTDOMAIN" name="JanesFastDomain" guid="1C2DC1D4-60E2-4F00-BF54-8DFD875DB872" fastItemIdFieldKey="DATABASERECORDID" fastItemCategoryFieldKey="PUBABBREV" nullQueryDefaultSearchString="janesalljanes:string(&quot;-b4hHum8u9Ucl5cr00ge&quot;, mode=simpleall)" rankProfile="-alljanes -docdatetime" nullQueryRankProfile="-docdatetime">
        <metadata>
          <item name="visibleBreadcrumb" value="false" />
          <item name="resourceKey" value="IHS Jane's" />
          <item name="useCategoryKeyAsEntitlementProductName" value="true" />
        </metadata>
        <dictionaries>
          <dictionary key="MAINSEARCH" webAddress="http://vip-djanes-fast3.ihs.com:15200/" />
        </dictionaries>
        <categoryMaps defaultCategoryMapKey="MAINSEARCH">
          <categoryMap key="MAINSEARCH" name="MAINSEARCH" guid="2B02A3C4-7CA5-4E93-94F5-CF1B01C1F617" fastSearchView="alljanessppublished">
            <metadata>
              <item name="entitlementFields" value="entitlements" />
              <item name="entitlementProductName" value="Janes Suite" />
            </metadata>
          </categoryMap>
        </categoryMaps>
      </domainMap>
    </domainMaps>
  </fastDataProviderSettings>
  <appSettings file="localSettings.config">
    <add key="ControlConfigurationFile" value="\Configuration\{0}ControlConfig.xml" />
    <add key="GridConfigurationFile" value="\Configuration\{0}GridConfig.xml" />
    <add key="DeveloperAlwaysRefreshGridConfig" value="true" />
    <add key="ProvidersToInitialise" value="JanesFast" />
    <!-- Use Lazy Loading of Providers for most -->
    <add key="DateDisplayFormat" value="dd MMM yyyy" />
    <add key="USDateDisplayFormat" value="MM/dd/yyyy" />
    <add key="DateCoreCatalogFormat" value="yyyy-MM-dd" />
    <add key="JanesDateFormat" value="yyyyMMdd" />
    <add key="ResultBuilderExportFileDirectory" value="C:\workspace\CMP\Main\ExternalItems\ResultsBuilders\TempFiles\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="useFiddlerProxy" value="false" />
    <add key="MvcMappingsConfigurationPath" value="C:\Workspace\CMP\Main\Source\Web\UI\Configuration\MvcMappings.xml" />
  </appSettings>
  <!-- to allow fiddler to intercept web calls enable this-->
  <!--  <system.net>
    <defaultProxy>
      <proxy bypassonlocal="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AccessControlBinding" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="4194304" maxBufferSize="1048576" maxReceivedMessageSize="1048576" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="LargeAccessControlBinding" closeTimeout="00:01:30" openTimeout="00:01:30" receiveTimeout="00:10:00" sendTimeout="00:01:30" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="16777216" maxBufferSize="16777216" maxReceivedMessageSize="16777216" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Certificate" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_Usage">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://dusage.ihs.com/AuthorizationUsageService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Usage" contract="NimsAuthorisationUsageSvc.IAuthorizationUsage" name="WSHttpBinding_IAuthorizationUsage" />
      <endpoint address="http://dusage.ihs.com/SearchUsageService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Usage" contract="NimsSearchUsageSvc.ISearchUsage" name="WSHttpBinding_ISearchUsage" />
      <endpoint address="http://dusage.ihs.com/SoftwareUsageService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Usage" contract="NimsSoftwareUsageSvc.ISoftwareUsage" name="WSHttpBinding_ISoftwareUsage" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/SessionAuditorService.svc" binding="basicHttpBinding" bindingConfiguration="AccessControlBinding" contract="AaaSessionAuditorService.ISessionAuditor" name="BasicHttpBinding_ISessionAuditor" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/SessionManagerService.svc" binding="basicHttpBinding" bindingConfiguration="AccessControlBinding" contract="SessionManagerService.ISessionManager" name="BasicHttpBinding_ISessionManager" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/IdentityProviderService.svc" binding="basicHttpBinding" bindingConfiguration="AccessControlBinding" contract="IdentityProviderService.IIdentityProvider" name="BasicHttpBinding_IIdentityProvider" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/ProfileManagerService.svc" binding="basicHttpBinding" bindingConfiguration="AccessControlBinding" contract="ProfileManagerService.IProfileManager" name="BasicHttpBinding_IProfileManager" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/ProfileReferenceDataManagerService.svc" binding="basicHttpBinding" bindingConfiguration="LargeAccessControlBinding" contract="ProfileReferenceDataManagerService.IProfileReferenceDataManager" name="BasicHttpBinding_IProfileReferenceDataManager" />
      <endpoint address="https://taccesscontrol.ihs.com/AccessControl_2.0/AuthorizationManagerService.svc" binding="basicHttpBinding" bindingConfiguration="AccessControlBinding" contract="AuthorizationManagerService.IAuthorizationManager" name="BasicHttpBinding_IAuthorizationManager" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.105.2" newVersion="1.0.105.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Core" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.10.0" newVersion="2.4.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.V8" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.13.0" newVersion="2.4.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="JavaScriptEngineSwitcher.Msie" publicKeyToken="c608b2a8cc9e4472" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.4.18.0" newVersion="2.4.18.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.1.0" newVersion="2.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <log4net configSource="Configuration\log4net-debug.config" />
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>