@model IHS.Apps.CMP.Models.ViewModels.AandD.InventoriesModel

@{
   
    var maxCount = Model.Items.Count() == 0 ? 1 : Model.Items.Sum(i => i.Count);
}

<script>
</script>

<div>
    <div style="max-height: 300px; max-height:30vh;height:100%; overflow-y:auto;">
        <table class="table">
            @foreach (var inventoryItem in Model.Items)
            {
                var inventoryItemWidth = maxCount == 0 ? 1 : Math.Max(1, 88 * inventoryItem.Count / maxCount);

                <tbody>
                    <tr class="text-middle">
                        <td>@inventoryItem.Name</td>
                        <td>
                            <svg viewBox="0 0 100 100" width="@(inventoryItemWidth)%" height="15" preserveAspectRatio="none" class="inline-img">
                                <rect fill="rgb(0,150,151)" width="100" x="0" height="100%"></rect>
                            </svg>
                            <span>@inventoryItem.Count</span>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>

    @if (Model.FooterLinks != null)
    {
        @Html.Partial("Widget/LinkListWidgetFooter", Model.FooterLinks)
    }
</div>