@{
    var overviewTabKey = CmpHtmlHelpers.CreateUniqueId("overview");
    var newsTabKey = CmpHtmlHelpers.CreateUniqueId("news");
}


<div class="panel panel-default">
    <div class="panel-heading">T-72</div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-tabs-line nav-tabs-center">
            <li class=""><a href="#@overviewTabKey" data-toggle="tab" aria-expanded="false">Overview</a></li>
            <li class="active"><a href="#@newsTabKey" data-toggle="tab" aria-expanded="true">News</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade" id="@overviewTabKey">
                @Html.Partial("Explorer/ExplorerItemOverview")
            </div>
            <div class="tab-pane fade active in" id="@newsTabKey">
                <p>TODO</p>
            </div>
        </div>
    </div>
</div>