@model IHS.Apps.CMP.Models.ViewModels.AandD.SimilarEquipmentModel

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("similarEquipment");
}

@if (Model.SimilarEquipment.Any())
{
    <script type="text/javascript">

        $(document).ready(function () {
            var vm = new SimilarEquipmentVM(@Html.Raw(Json.Encode(Model.SimilarEquipment)));
            ko.applyBindings(vm, document.getElementById("@containerId"));
            HookupImagePopup("#@containerId .thumbnail", "a"); 
        });

    </script>

    <div data-bind="stopBindingChildren : true">
        <div id="@containerId">

            <div class="alert alert-info">The systems below are shown as ‘Comparable Systems’ as they match some or all of the attributes of the following equipment: @string.Join(", ", Model.Names)</div>

            <div class="relative" data-bind="visible : equipment().length > 4">
                <input type="text" class="form-control u-margin-Bxxs dark-placeholder clearable" data-bind="textInput : filterText, watermark : { text : 'Enter name to search' }">
                <span class="clear-searchterm hand grey2 absolute u-bold" style="font-size: 150%; right: 20px; top: 2px;" data-bind="visible : filterText().length > 0, click : clearFilter">&times;</span>
            </div>
            
            <div>
                <button class="btn btn-primary u-margin-Vxxs" data-bind="click : compare, visible : selectedItems().length > 0, text: 'Compare (' + selectedItems().length + ')'"></button>
                <label id="maximumWarning" class="grey3-bg blue1 u-padding-Vxxxs u-padding-Hxxs invisible">A maximum of 3 comparisons is allowed.</label>
            </div>
            

            <ul class="list-group u-padding-Bs" data-bind="foreach : filteredEquipment">
                <li class="list-group-item" data-bind="css : { 'orange4-bg': $root.selectedItems.indexOf($data) > -1 }">
                    <div class="grid">
	                    <div class="grid-1-2 checkboxes">
		                    <input type="checkbox" data-bind="checked : $root.selectedItems, value : $data, enable : _isCheckable, attr: {id: 'similarEquip_' + $data.Uid}"/>
		                    <label class="text-flow-none pull-left u-margin-Rxxs" data-bind="attr: {for: 'similarEquip_' + $data.Uid}"></label>
		                    <span data-bind="text : Title"></span>
	                    </div>
                        <div class="grid-1-6">                                                     
                            <span class="thumbnail" align="center" data-bind="visible:FullSizeImage.length > 0">
                                <a data-bind="attr:{href: FullSizeImage}" class="hoverZoomLink"><img data-bind="attr:{src: Thumbnail, alt:ThumbnailAltTag, title:ThumbnailAltTag}" ></a>
                            </span>                                
                        </div>
                        <div class="grid-1-3" data-bind="foreach : Documents">
                            <div class="u-padding-Bxs">
                                <a data-bind="attr : { href : $root.calculateDocumentUrl($data) }, text : Title" target="_blank"><i class="icon-link-ext u-font-65"></i></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        <p>There are no items that are directly comparable to your selection.</p>
    </div>
}
