
@model string

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("specsModal");
}

<div id="@containerId" style="height: 70vh;" class="u-padding-Axs">
    <div>
        @Html.Raw(Model.ToStringSafe())
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        //Hack fix for weird styling on specs documents
        var panelToRemoveStyle = $("#@containerId .panel.u-overflow-hidden");
        if (panelToRemoveStyle) {
            panelToRemoveStyle.removeClass("u-overflow-hidden");
        }

        var element = document.getElementById('@containerId');
        customScrollbar(element, {theme : 'dark'});
    });
</script>
<style>
    .panel-default {
        border:none!important;
    }
</style>