<p>Equity at Age 65:</p>

<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>


<input type="radio" name="range" value="0%" data-bind="checked:rangeSelect" checked/>
<label>0%</label>
<br/>
<input type="radio" name="range" value="30%" data-bind="checked:rangeSelect" />
<label>30%</label>
<br/>
<input type="radio" name="range" value="40%" data-bind="checked:rangeSelect" />
<label>40%</label>
<br/>
<input type="radio" name="range" value="50%" data-bind="checked:rangeSelect" />
<label>50%</label>
<br/>
<input type="radio" name="range" value="60%" data-bind="checked:rangeSelect" />
<label>60%</label>
<br/>
<input type="radio" name="range" value="70%" data-bind="checked:rangeSelect" />
<label>70%</label>
<div id="chart_div" style="width: 900px; height: 500px;"></div>
<input type="hidden" id="sample_data" data-bind="value:dataGetter" />

<body>
    <script type='text/javascript' src='/JavaScript/knockout.js'></script>
    <script type='text/javascript' src='/JavaScript/PageChartDirectVM.js'></script>
</body>

</html>