<p>Equity at Age 65:</p>

<head>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    
    <!-- Google JSAPI Chart -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <link rel="stylesheet" type="text/css" href="/css/content-hichart.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.sstatic.net/Sites/stackoverflow/primary-unified.css?v=af851b104067">

</head>
<body>

        <input type="radio" name="range" value="0%" data-bind="checked:rangeSelect" checked/>
        <label>0%</label>
        <br/>
        <input type="radio" name="range" value="30%" data-bind="checked:rangeSelect" />
        <label>30%</label>
        <br/>
        <input type="radio" name="range" value="40%" data-bind="checked:rangeSelect" />
        <label>40%</label>
        <br/>
        <input type="radio" name="range" value="50%" data-bind="checked:rangeSelect" />
        <label>50%</label>
        <br/>
        <input type="radio" name="range" value="60%" data-bind="checked:rangeSelect" />
        <label>60%</label>
        <br/>
        <input type="radio" name="range" value="70%" data-bind="checked:rangeSelect" />
        <label>70%</label>
        
        <div id="chart_div" style="width: 900px; height: 500px;"></div>
        
        <input type="hidden" id="sample_data" data-bind="value:dataGetter" />
        
        <!-- Hichart Sample with Export -->
        <div id="FirstChart"></div>

        <h3>Exported CSV:</h3>
        <pre id="preview"></pre>

        <div id="container" style="height:250px;width:350px;"></div> 

        <div id="container1" style="height:36px;width:350px;"></div> 
        <div id="container2" style="height:36px;width:350px;"></div>
        <div id="container3" style="height:36px;width:350px;"></div>
        <div id="container4" style="height:36px;width:350px;"></div>
        <div id="container5" style="height:36px;width:350px;"></div>

        <div id="containerBulletVersion" style="height:250px;width:300px;margin:1em;"></div> 

        <div id="containerOtherBullet" style="height:250px;width:300px;margin:1em;"></div> 

    <!-- Knockout VM -->
    <script type='text/javascript' src='/JavaScript/knockout.js'></script>
    <script type='text/javascript' src='/JavaScript/PageGoogleChartVM.js'></script>
    <!-- Hichart -->
    <!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
    <!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
    <!-- <script src="https://highcharts.github.io/export-csv/export-csv.js"></script> -->
    
    <script type='text/javascript' src='/JavaScript/highcharts.js'></script>
    <script type='text/javascript' src='/JavaScript/hichart-exporting.js'></script>
    <script type='text/javascript' src='/JavaScript/hichart-export-csv.js'></script> 
    <script type='text/javascript' src='/JavaScript/highcharts-more.js'></script> 
    
    <!-- Hichart Builder -->
    <script type='text/javascript' src='/JavaScript/PageHichartBuilder.js'></script>
    <script type='text/javascript' src='/JavaScript/HichartGauge.js'></script>
    <script type='text/javascript' src='/JavaScript/MultipleBulletsOneChart.js'></script>
    <script type='text/javascript' src='/JavaScript/BulletHichartVersion.js'></script>
    <script type='text/javascript' src='/JavaScript/OtherBulletVersion.js'></script>
    

    
    <p><a target="_top" href="http://jsfiddle.net/jlbriggs/UGs2E/">Multiple bullet charts in one chart</a></p>

</body>

</html>