/* images copied into cmp to make proxy as Tableau version agnostic as possible - else this css file would need updating every time the tableau version changed*/
.tab-toolbar-container {
    display: none !important;
}

.tab-styledButtonLeft {
    background-image: url(/Assets/Images/tableau/btn_left.png) !important;
}
.tab-styled-button-left {
    background-image: url(/Assets/Images/tableau/btn_left.png) !important;
}

.tab-styledButtonRight {
    background-image: url(/Assets/Images/tableau/btn_right.png) !important;
}
.tab-styled-button-right {
    background-image: url(/Assets/Images/tableau/btn_right.png) !important;
}

.tab-styledButtonMiddle {
    background-image: url(/Assets/Images/tableau/btn_middle.png) !important;
}
.tab-styled-button-middle {
    background-image: url(/Assets/Images/tableau/btn_middle.png) !important;
}

.ie7 .tab-styledButton, .dj_ie7 .tab-styledButton {
    background-image: url(/Assets/Images/tableau/btn_middle.png) !important;
}
.tab-cv-styled-button-left {
    background-image: url(/Assets/Images/tableau/btn_left.png) !important;
}
.tab-cv-styled-button-right {
    background-image: url(/Assets/Images/tableau/btn_right.png) !important;
}
.tab-cv-styled-button-middle {
    background-image: url(/Assets/Images/tableau/btn_middle.png) !important;
}
.tabStyledButton-left {
    background-image: url(/Assets/Images/tableau/btn_left.png) !important;
}
.tabStyledButton-right {
    background-image: url(/Assets/Images/tableau/btn_right.png) !important;
}
.tabStyledButton-middle {
    background-image: url(/Assets/Images/tableau/btn_middle.png) !important;
}
/* Spinner image src is pointing to /images which is an issue for us - so hide it */
.tab-pdfdlg-status {
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
}

tab-tabViewLoading {
    background: url('/Assets/Images/tableau/30x30REV.gif') no-repeat !important;
}

