@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
h1.one span {
  background: black;
  padding: 1px 8px;
}
h1.one span::before {
  content: "\A";
}

h1.two span {
  background: black;
  padding: 1px 8px;
}
h1.two span::before {
  content: "\A";
  white-space: pre;
}

h1.three span {
  background: black;
  padding: 1px 8px;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
}
h1.three span::before {
  content: "\A";
  white-space: pre;
}

h1.four span {
  display: inline-block;
  background: black;
  padding: 1px 8px;
}
h1.four span::before {
  content: "\A";
  white-space: pre;
}

h1.five span {
  background: black;
  padding: 1px 8px;
}
h1.five span::before {
  content: "";
  display: block;
}

h1.six span {
  background: black;
  padding: 1px 8px;
}

h1.seven span {
  display: block;
}
h1.seven span::before {
  content: attr(data-text);
  background: black;
  padding: 1px 8px;
}

h1.eight span {
  background: black;
  padding: 1px 8px;
  display: table;
}

body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  line-height: 1.6;
  background: #eee;
  padding: 20px;
  margin: 5px 0 25px 0;
}

h1 span {
  color: white;
  font-weight: 900;
}