#container {
    height: 300px;
    margin-top: 2em;
}
pre {
    border: 1px solid silver;
    border-radius: 0.5em;
    padding: 1em;
    color: green;
}

body {
    font-family:helvetica, sans-serif;
    font-size:.7em;
}
p {
    margin:.5em 1em;
}


#container3D {
    height: 400px; 
    min-width: 310px; 
    max-width: 800px;
    margin: 0 auto;
}