body {
     background: #ddd;
     margin: 30px;
}
#menu     { 
     float: left;
     padding: 0;
     margin: 0;
      
     /* Box Shadow */
     box-shadow: 0 1px 0 #000;
     -moz-box-shadow: 0 1px 0 #000;
     -webkit-box-shadow: 0 1px 0 #000;
      
     /* Rounded Corners */
     -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-bottom-left-radius: 10px;
      
     /* Rounded Corners */
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
     -webkit-border-top-right-radius: 10px;
     -webkit-border-bottom-right-radius: 10px;
}
#menu ul  {
     border-top: #f3f3f3 1px solid;
     padding: 0;
     margin: 0;
     float: left;
      
     /* Background Gradient */
    background-image: -moz-linear-gradient(top, #b4b4b4, #707070);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b4b4b4), to(#707070));
}
#menu li  {
     float: left;
     list-style: none;
     background: none;
     margin-right: 1px;
}
#menu a { outline: none; }
#menu li a:link, #menu li a:visited {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 14px;
     font-weight: bold;
     display: block;
     color: #262626;
     padding: 12px 28px;
     text-decoration: none;
     text-transform: capitalize;
      
     /* CSS3 Text Shadow */  
     text-shadow: 0px 1px 1px #fff;
      
     /* CSS3 Background Gradient */
    background-image: -moz-linear-gradient(top, #cacaca, #848484);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#cacaca), to(#848484));
}
#menu li a:hover    {
     cursor: pointer;
     color: #fff;
     text-shadow: 0px -1px 1px #000;
      
     /* Background Gradient */
    background-image: -moz-linear-gradient(top, #929292, #545454);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#929292), to(#545454));
}
#menu li:first-child a, #menu ul {
     /* Rounded Corners */
     -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-bottom-left-radius: 10px;
}
#menu li:last-child a, #menu ul {
     /* Rounded Corners */
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
     -webkit-border-top-right-radius: 10px;
     -webkit-border-bottom-right-radius: 10px;
}
a.active:link, a.active:active, a.active:visited  {   
     color: #fff !important;
     text-shadow: 0px -1px 1px #000!important;
    background-image: -moz-linear-gradient(top, #444, #666)!important;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#666))!important;
      
     /* Box Shadow */
     box-shadow: inset 0 0 10px #000;
     -moz-box-shadow: inset 0 0 10px #000;
     -webkit-box-shadow: inset 0 0 10px #000;
}




#twoColumnWrapper {
    position: relative;
    overflow: hidden;
    margin: 0 -2.5%;
    max-height: 400px;
}

.wrapper {
    /*width: auto;*/
    margin: auto;
    min-height: 400px;
}

#leftColumn {
    position: absolute;
    /*width: 50px;*/
    float: left;
    z-index: 100;
}

#mainColumn {
    position: relative;
    /*padding: 0 30px;*/
    margin-left: 10px; /* TODO: !!! this must be the same as leftPanel width */
    padding-left: 30px;
}


#rightColumn {
    width: 21%;
    position: absolute;
    bottom: 0;
    right: 0;
    /*border-left: solid 1px #CCC;*/
    padding-left: 20px;
    height: 100%;
}

.facet-label {
    padding-top: 2px !important;
    padding-bottom: 0 !important;
}

.Disabled {
    pointer-events: none;
    /*cursor: not-allowed;*/
    opacity: 1;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-scrollbar .scrollbar-v .bar {
    background: #666;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    margin: 0 auto;
}

.scrollbar-side-l {
    margin-left: 0px;
    float: left;
    max-height: -webkit-fill-available;
    /*width: 65px;*/
    /*background: #F5F5F5;*/
    overflow-y: scroll;
    margin-bottom: 0px;
}

.scrollbar-side-r {
    float: none;
    padding-left: 10px;
}


.custom-scrollbar .scrollbar-v .bar {
    background: #666;
    height: 100%;
    width: 5px;
    border-radius: 3px;
    margin: 0 auto;
}


.display-none {
    display: none;
}

.force-overflow {
    /*min-height: 450px;*/
    max-height: -webkit-fill-available
}

/*
 *  STYLE Grey
 */
.style-grey::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
     -webkit-border-top-left-radius: 10px;
     -webkit-border-bottom-left-radius: 10px;
      
     /* Rounded Corners */
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
     -webkit-border-top-right-radius: 10px;
     -webkit-border-bottom-right-radius: 10px;
    background-color: #F5F5F5;
}

.style-grey::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.style-grey::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #666;
    /*background: rgba(255, 255, 255, 0.1);*/
}



.box{
    height:200px;
    width:250px;
    border-radius:10px; 
    border:2px solid #666;
    padding:6px 0px;
    background:#ccc;
  }
  
  .box-content{
    height:200px;
    width:250px;
    overflow:auto;
    border-radius:8px;
  }


  ::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}