body > div {
    width: 20%;
    float: left;
    margin: 3%;
}

div div {
    width: 100%;
    height: 2em;
    border: 1px solid blue;
    margin-bottom: 20px;
    font-size: .5em;    
}

.reflow div:first-child + div {
    position: relative;
    top: -20px;
    margin-bottom: -20px;
}

.noreflow div:first-child + div {
    position: relative;
    top: -20px;
}