@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jstree_js {


    <script type="text/javascript">
        $(function () {
            $('#jsTreeContainer').jstree({
                'core': {
                    'data': {
                        'url': '/jsTree3/GetJsTree3Data',
                        'dataType': 'json'
                    }
                }
            });
        });
    </script>
    <div id="jsTreeContainer"></div>

}

@RenderBody()
@Html.BuildTree()