@model  string

@{
    string containerId = string.Concat("dvCustomDataList", Guid.NewGuid().ToString().Replace("-", string.Empty));
}

<div id="@containerId" style="width: 100%;">
    @Html.Raw(Model)
</div>

<!-- put your required css here if nowhere else. -->
<style>
    #JMFCustomReportCards {
        max-height: 550px;
    }
    #JMFCustomReportCards .card {
        margin-bottom: 10px !important;
}
</style>