@model IHS.Apps.CMP.Models.ViewModels.AandD.DocumentModel

@{
    string containerId = string.Concat("dvDoc", Guid.NewGuid().ToString().Replace("-", string.Empty));
}

<div id="@containerId" style="width: 100%;">
    @Html.Raw(Model.Content)
</div>

    @if (Model.Link != null)
    {
        @Html.Partial("Widget/LinkListWidgetFooter", new[] { Model.Link })
    }