@model IHS.Apps.CMP.Web.Classes.Models.GeoChartModel

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("geomap");
}
<script>
    var geomap = new GeoMap('@containerId',
        function(selection, timePeriod) {
            var timeFrame = "";
            if (timePeriod > 0) {
                var postDate = new Date();
                postDate.setDate(postDate.getDate() - timePeriod);
                var mm = '' + (postDate.getMonth() + 1);
                var dd = '' + postDate.getDate();

                if (mm.length < 2) {
                    mm = '0' + mm;
                }

                if (dd.length < 2) {
                    dd = '0' + dd;
                }

                timeFrame = "<and>POSTDATE(" + postDate.getFullYear() + "-" + mm + "-" + dd + "::)";
            }

            if ((@Model.RedirectOnMapSelection.ToString().ToLower())) {
                window.location = "/" + '@Model.CategoryKey' + "/search?f=COUNTRYREGIONTAXONOMY(" + selection + ")" + timeFrame;
            } else {
                window.location = window.location.pathname + "?subject=" + selection;
            }
        });

    if (typeof window["Dashboard"] !== "undefined") {
        Dashboard.registerJavascriptObject('@containerId', geomap);
    }
</script>

<div id="@containerId">
    <div>
        <div class="chosen-container">
            <select class="geoMapRegionSelect form-control" style="width: 210px;">
                <option value="" disabled="disabled" selected="selected">Worldwide</option>
                <option value="world">(World)</option>
                <option value="002">Africa</option>
                <option value="015">- Northern Africa</option>
                <option value="011">- Western Africa</option>
                <option value="017">- Middle Africa</option>
                <option value="014">- Eastern Africa</option>
                <option value="018">- Southern Africa</option>
                <option value="019">Americas</option>
                <option value="021">- Northern America</option>
                <option value="029">- Caribbean</option>
                <option value="013">- Central America</option>
                <option value="005">- South America</option>
                <option value="142">Asia</option>
                <option value="143">- Central Asia</option>
                <option value="030">- Eastern Asia</option>
                <option value="034">- Southern Asia</option>
                <option value="035">- South-Eastern Asia</option>
                <option value="145">- Western Asia</option>
                <option value="150">Europe</option>
                <option value="154">- Northern Europe</option>
                <option value="155">- Western Europe</option>
                <option value="151">- Eastern Europe</option>
                <option value="039">- Southern Europe</option>
                <option value="009">Oceania</option>
                <option value="053">- Australia and New Zealand</option>
                <option value="054">- Melanesia</option>
                <option value="057">- Micronesia</option>
                <option value="061">- Polynesia</option>
            </select>
        </div>
        <div class="chosen-container" style="width: 120px;">
            <select class="geoMapPubPeriod form-control">
                <option selected="selected" value="0">All Time</option>
                <option value="1">Today's</option>
                <option value="7">Last 7 days</option>
                <option value="14">Last 14 days</option>
                <option value="30">Last 30 days</option>
                <option value="90">Last 90 days</option>
            </select>
        </div>
        <div class="geomapLoading loading text dimmer"></div>
    </div>
    <div class="geochart">
    </div>
</div>