@model System.Collections.Generic.IEnumerable<IHS.Apps.CMP.Models.ViewModels.Link>

@if (Model.Count() > 0)
{
<div class="list-group list-links widgetfooter">
    @foreach (IHS.Apps.CMP.Models.ViewModels.Link reportLink in Model)
    {
        @Html.Partial("Widget/LinkListItem", reportLink)
    }
</div>
}