@model System.Collections.Generic.IEnumerable<IHS.Apps.CMP.Models.ViewModels.LinkDocument>

@{
    var containerId = CmpHtmlHelpers.CreateUniqueId("linkList");
    var formId = CmpHtmlHelpers.CreateUniqueId("linkList_export");
}

<div id="@containerId">

    @Html.Partial("Widget/LinkListWidget", Model)

    <div data-bind="stopBindingChildren : true">

        <!-- This form is hidden. It is used for the exports. -->
        <div class="export-form" style="display: none">

            <div class="form-horizontal">

                <p>Export Format:</p>

                <div class="form-group">
                    <label class="radio-inline" style="letter-spacing: normal;margin-right: 5px;"><input type="radio" name="exportLinksFormat" data-bind="checked : exportFormat" value="word">WORD</label>
                    <label class="radio-inline" style="letter-spacing: normal;margin-right: 5px;"><input type="radio" name="exportLinksFormat" data-bind="checked : exportFormat" value="pdf">PDF</label>
                </div>

                <br />
                <p>Please select which files you would like to export:</p>

                <div class="form-group">
                    @{
                        var selectAllId = CmpHtmlHelpers.CreateUniqueId("chk_selectAll");
                    }
                    <label for="@selectAllId" style="letter-spacing: normal; margin-right: 5px;">
                        <input id="@selectAllId" type="checkbox" data-bind="click:selectAll, checked : isAllSelected" />
                        <span>Select All</span>
                    </label>
                </div>

                <div class="form-group" style="margin-left:20px;" data-bind="foreach:exportableLinks">
                    <label>
                        <input type="checkbox" data-bind="checked : isSelected" />
                        <span style="letter-spacing: normal; margin-left: 5px;" data-bind="text : text"></span>
                    </label>
                    <br />
                </div>


                <div class="form-group">
                    <div class="grid-1 text-center">
                        <button type="button" class="btn btn-primary" data-bind="click : submitExportRequest.bind($data, '@formId'), enable : anyChosen">OK</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @{
        var jsLinks = Html.Raw(Json.Encode(Model.Select(p => new { id = p.DocumentId, isAuthorised = p.IsAuthorised, isExportable = p.IsExportable, text = p.Text, isSelected = true })));
    }

    $(document)
        .ready(function () {
            var vm = new LinkListWidgetExportableVM('@containerId', @jsLinks);

            ko.applyBindings(vm, document.getElementById('@containerId'));

            if (typeof window["Dashboard"] !== "undefined") {
                Dashboard.registerJavascriptObject('@containerId', vm);
            }
        });
</script>