@using IHS.Apps.CMP.Models.ViewModels
@model IEnumerable<Link>

@{
    bool toolTipsExist = false;
}

<div class="list-group list-links">

    @foreach (Link reportLink in Model)
    {
        if (!string.IsNullOrWhiteSpace(reportLink.ToolTip))
        {

            toolTipsExist = true;
        }

        var filter = reportLink as LinkFilter;
        if (filter != null && filter is LinkFilterExportable)
        {
            @Html.Partial("Widget/LinkListItemExportable", filter)
        }
        else
        {
            @Html.Partial("Widget/LinkListItem", reportLink)
        }
    }
</div>

@if (toolTipsExist)
{
    <script>
        $(function () {
            $('.tooltipHolder').tipsy({
                gravity: 's', fade: true
            }).mouseenter(function () {
                var top = $(this).offset().top - 105,
            left = $(this).offset().left;
                $('.tipsy').css({
                    'top': top + 'px',
                    'left': left + 'px'
                });
            });
        });
    </script>
}
