@{
    var containerId = CmpHtmlHelpers.CreateUniqueId();
}
<div id="@containerId">
    Custom dashboards are new dashboards you can create by selecting any item on a country, company or equipment dashboard.
    <p class="savewidgettext" style="display: none;">Save this item to a dashboard, which you can then add to later. You can access your custom dashboards <a href="/CustomDashboard">here</a>, or from ‘My Services’ in the top navigation menu</p>
    You can then name your dashboard and then access your new dashboard from here or from '<a href="/CustomDashboard">My Custom dashboards</a>’ in the top navigation menu. Learn how to use custom dashboards with our <button class="cd-tutorial-button btn btn-default"><i class="icon-tutorial"></i> Tutorial</button>.
    <p></p>
    @Html.Partial("CustomDashboardTutorial")

</div>

<script type="text/javascript">
    $(document).ready(function () {
        CustomDashboardTutorial.RegisterTutorialHelp('#@containerId');
    });

</script>