@model IHS.Apps.CMP.Models.ViewModels.WidgetUnauthorisedModel

@{
    var modalId = CmpHtmlHelpers.CreateUniqueId("widgetPopup");
}

<div class="alert alert-info text-center">
    <br/>
    <p>@Model.Message</p>
    <br/>
    <p class="icon-collapse-arrow hand" data-toggle="collapse" href="#collapse1" aria-expanded="false">
        <strong>Find out how to get access</strong>
    </p>
    <div class="collapse" id="collapse1">
        <br/>
        @CmpHtmlHelpers.Content("ContactDetailsWidget")
    </div>
    <br/>

    @if (Model.ShowUnauthorisedContentOption)
    {
        <button class="btn btn-primary" data-toggle="modal" data-target="#@modalId">Don't show unsubscribed dashboard content again</button>
    }
</div>
@if (!string.IsNullOrEmpty(Model.ImagePath))
{
    <img src="@Model.ImagePath" style="width: 100%" />
}

@if (Model.ShowUnauthorisedContentOption)
{
    <div class="modal fade" id="@modalId" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <br/>
                    <p>By selecting this option you will not see any unsubscribed content in any dashboard again.</p>
                    <p>
                        To change the setting for this at any time just select the <i class="icon-cog"></i> icon at the top right of any page.
                    </p>
                </div>
                <div class="modal-footer">
                    @if (Model.IsSharedUser)
                    {
                        <div class="btn btn-primary" onclick="UserSettings.setCookie('ShowUnauthorizedWidgets', false, 'showUnauthorizedWidgets', { reloadPage: true })" type="button">Confirm</div>
                    }
                    else
                    {
                        <div class="btn btn-primary" onclick="UserSettings
    .set('ShowUnauthorizedWidgets', false, { reloadPage: true })" type="button">Confirm</div>
                    }

                    <button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}