@model IHS.Apps.CMP.Models.ViewModels.Advert

@if (Model.AdvertIdentifier != null && !string.IsNullOrEmpty(Model.AdvertIdentifier))
{
    string id = CmpHtmlHelpers.CreateUniqueId("Advert");

    <script type="text/javascript">
        var advertVM = new AdvertWidget();

        if (typeof window["Dashboard"] !== "undefined") {
            Dashboard.registerJavascriptObject('@id', advertVM, function () {
            });
        }

        googletag.cmd.push(function () {
            advertVM.advertSlot = googletag.defineSlot('@Model.AdvertIdentifier', [@Model.Width, @Model.Height], '@id')
                .addService(googletag.pubads())
                .setTargeting('POS', '@Model.Position');
            googletag.enableServices();
        });
    </script>

    <div>
        <div class="advertWrapper centered">
            @if (!string.IsNullOrEmpty(Model.Title))
            {
                <div class="advertTitle">Model.Title</div>
            }

            <div class="advert">
                <div id='@id'>
                    <script type='text/javascript'>
                        googletag.cmd.push(function () {
                            googletag.display('@id');
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
}