@model IHS.Apps.CMP.Models.ViewModels.AlertMessage

<div class="grid">

    <div class="grid-1">
        <b>@Model.Title</b>   
    </div>

    <div class="grid-1" style="padding-top: 10px">
        @Model.Message
    </div>

    <div class="grid-1">
        <div style="padding-top: 10px">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>

</div>

                    
