@model IEnumerable<IHS.Apps.CMP.Models.AnnouncementDto>

@{
    Layout = null;

    var containerId = CmpHtmlHelpers.CreateUniqueId("div");
}

<script>
    $("#@containerId").flexslider({
        directionNav: false,
        animation: "fade",
        pausePlay: true
    });
</script>

<div id="@containerId" class="flexslider">
    <ul class="slides">

        @foreach (var item in Model)
        {
            <li>
                <p class="slidertitle">
                    <strong>@item.Title</strong>
                </p>
                <p class="sliderbody"></p>
                <div class="sliderdate">@item.Date.ToString("d MMM yyy", System.Globalization.CultureInfo.InvariantCulture)</div>
                <div>@Html.Raw(item.Body)</div>
            </li>
        }
    </ul>
</div>
<a class="icon-play-pause"></a>