@using IHS.Apps.CMP.Models
@model Dashboard

    <span>
        <span class="title" data-bind="text: currentItem, visible: currentItem"></span>
        <span class="dashboard-icon" data-bind="visible: icon">
            <span class="flag-icon" data-bind="css: icon"></span>
        </span>
        <div class="relative">
            <div class="startHint leftpointer dash4" data-tutorial="4">
                <h3>Changing @this.LocalResources(Model.Type.ToStringSafe())</h3>
                <p>You can change @this.LocalResources(Model.Type.ToStringSafe()).ToLower() by typing in the @this.LocalResources(Model.Type.ToStringSafe()).ToLower() you are looking for here.</p>
            </div>
        </div>
        @Html.Partial("DashboardSubjectSelect")
    </span>