@model IHS.Apps.CMP.Models.Dashboard

<!-- ko with: searchBarVM -->
<span class="grid-1 grid-lg-5-12 grid-md-5-12 grid-md-offset-0 grid-sm-3-4 grid-sm-offset-2" data-bind="visible : isVisible">
    @Html.Action("LoadSearchBar", "SearchBar", new { dataProviderName = (Model.Settings.ContainsKey("searchBarProvider") ? Model.Settings["searchBarProvider"].ToStringSafe(string.Empty) : null), cat = (Model.Settings.ContainsKey("searchBarCategory") ? Model.Settings["searchBarCategory"].ToStringSafe(string.Empty) : null), appName = (Model.Settings.ContainsKey("searchBarAppName") ? Model.Settings["searchBarAppName"].ToStringSafe(string.Empty) : null) })
</span>
<!-- /ko -->
<!-- ko with: searchBarAdvancedVM -->
<span class="grid-1 grid-lg-5-12 grid-md-5-12 grid-md-offset-0 grid-sm-3-4 grid-sm-offset-2" data-bind="visible : isVisible">
    @Html.Action("LoadAdvancedSearchBar", "SearchBar", new { dataProviderName = (Model.Settings.ContainsKey("searchBarProvider") ? Model.Settings["searchBarProvider"].ToStringSafe(string.Empty) : null), cat = (Model.Settings.ContainsKey("searchBarCategory") ? Model.Settings["searchBarCategory"].ToStringSafe(string.Empty) : null), appName = (Model.Settings.ContainsKey("searchBarAppName") ? Model.Settings["searchBarAppName"].ToStringSafe(string.Empty) : null) })
</span>
<!-- /ko -->