<div>
    <h3>Thank you!</h3>
    <p>We thank you for your time spent filling in this feedback, your response has been recorded.</p>
    <br />
    <button class="btn btn-primary" onclick="closePopup()">Close</button>
</div>