@model IHS.Apps.CMP.Models.ViewModels.Footer

<footer class="hidden-print position-fixed-x _slim">
    <div>
        <div class="grid">
            <div class="grid-1 legal">
                <div>&copy; @DateTime.Now.Year.ToString(System.Globalization.CultureInfo.CurrentCulture) IHS Markit. All rights reserved. Provided “as is”, without any warranty. This map is not to be reproduced or disseminated and is not to be used nor cited as evidence in connection with any territorial claim. IHS Markit is impartial and not an authority on international boundaries which might be subject to unresolved claims by multiple jurisdictions.</div>
            </div>
        </div>
    </div>
</footer>
<div class="visible-print h6 footer-copyright">&copy; @DateTime.Now.Year.ToString(System.Globalization.CultureInfo.CurrentCulture) IHS Markit. All rights reserved. Provided “as is”, without any warranty. This map is not to be reproduced or disseminated and is not to be used nor cited as evidence in connection with any territorial claim. IHS Markit is impartial and not an authority on international boundaries which might be subject to unresolved claims by multiple jurisdictions.</div>
