<!-- Registration Popup Start -->
@{

    var ibrpContainerId = CmpHtmlHelpers.CreateUniqueId("ibrpContainerId");
}


<div class="modal fade" id="@ibrpContainerId" tabindex="-1" role="dialog" aria-labelledby="intelBriefModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="intelBriefModalLabel">Intelligence Briefing Registration</h4>
            </div>
            <div class="modal-body">
                <div id="intelBriefRegForm">
                    <label style="display: none;" id="lblCurrentSelection"></label>
                    <p>
                        <strong>&quot;<label id="lblSeminarTitle" data-bind="text: title"></label>&quot;</strong>&nbsp;on the <b><label id="lblDate" data-bind="text: date"></label></b>
                        &#64;<strong>&nbsp;<label id="lblTime" data-bind="text: time"></label></strong>&nbsp;UK time.
                    </p>
                    <p id="divThanks" style="display: none;">Thank you for registering in one of IHS Jane's Intelligence Briefings.</p>
                    <p id="divAlreadyEnrolled" style="display: none;">Thank you but you have already enrolled for this Intelligence Briefing.</p>
                    <p id="divEventNotFound" style="display: none;">The current Intelligence Briefing cannot be found.</p>
                    <p id="divError" style="display: none;" class="appbox">
                        <br />
                        <br />
                    </p>
                    <div id="divErrorDetails" class="hiddenError collapse"></div>
                    <div id="divRegister" style="display: inline;">
                        <p>Please complete your details below to register.<p />
                        <p>
                            Once you have submitted this application you will be given the opportunity to automatically
                            register for additional briefings without having to repeat this process.
                        <p />
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label for="txtFirstname" class="grid-1-4 control-label">First Name <span class="red1">*</span></label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtFirstname" class="form-control" maxlength="100" width="200" data-bind="value: firstname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtLastName" class="grid-1-4 control-label">
                                    Last Name <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtLastName" class="form-control" maxlength="100" width="200" data-bind="value: lastname" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtEmail" class="grid-1-4 control-label">
                                    E-mail Address <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtEmail" class="form-control" maxlength="100" width="200" data-bind="value: email" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtConfirmEmail" class="grid-1-4 control-label">
                                    Confirm E-mail Address <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtConfirmEmail" class="form-control" maxlength="100" width="200" data-bind="value: confirmEmail" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtJobTitle" class="grid-1-4 control-label">
                                    Job Title <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtJobTitle" class="form-control" maxlength="100" width="200" data-bind="value: jobTitle" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCompany" class="grid-1-4 control-label">
                                    Company <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtCompany" class="form-control" maxlength="100" width="200" data-bind="value: company" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtAddressLine1" class="grid-1-4 control-label">
                                    Address <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type=" text" id="txtAddressLine1" class="form-control" maxlength="100" width="200" data-bind="value: address" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtAddressLine2" class="grid-1-4 control-label">
                                    Address 2
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtAddressLine2" class="form-control" maxlength="100" width="200" data-bind="value: address2" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCity" class="grid-1-4 control-label">
                                    City
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtCity" class="form-control" maxlength="100" width="200" data-bind="value: city" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtState" class="grid-1-4 control-label">
                                    State/Province <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtState" class="form-control" maxlength="100" width="200" data-bind="value: state" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtCountry" class="grid-1-4 control-label">
                                    Country <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtCountry" class="form-control" maxlength="100" width="200" data-bind="value: country" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="txtPostcode" class="grid-1-4 control-label">
                                    Zip/Post Code <span class="red1">*</span>
                                </label>
                                <div class="grid-3-4">
                                    <input type="text" id="txtPostcode" class="form-control" maxlength="100" width="200" data-bind="value: postcode" />
                                </div>
                            </div>
                        </div>
                        <p>
                            Would you like to receive information about future Jane's briefings and conferences? <span class="red1">*</span>
                        </p>
                        <p class="text-center">
                            <input type="radio" id="radFutureYes" name="futureInfo" value="Yes" data-bind="checked: futureInfo" /><label for="radFutureYes">&nbsp;Yes&nbsp;</label>
                            <input type="radio" id="radFutureNo" name="futureInfo" value="No" data-bind="checked: futureInfo" /><label for="radFutureNo">&nbsp;No</label>
                        </p>
                        <p class="text-center">
                            <input type="button" id="btnSubmit" class="btn btn-primary" value="Submit" data-bind="click: submit" />
                            <input type="button" id="btnCancel" class="btn btn-default" value="Cancel" onclick="DisplayRegistration_Close('#@ibrpContainerId');" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Registration Popup End -->
