@model IHS.Apps.CMP.Models.ViewModels.SaveSearchQuery

<h4 class="alert alert-success text-center u-margin-Bm">The RSS feed saved as '@Model.Name'</h4>

<div class="list-group list-links">
    @** Url.Action is not working here because of our weird route configs... *@
    <a class="list-group-item h4 u-margin-Tn" href="/MySavedSearches">Go to My Saved Searches and RSS feeds <i class="icon-right-open pull-right"></i></a>
</div>

<div class="text-center"><button class="btn btn-default" data-dismiss="modal">Close</button></div>

<script type="text/javascript">
        var url = "/Rss/Show/0?userId=" + '@Model.UserID' + "&searchId=" + '@Model.ID';

        var newwindow = window.open(url, "_blank");
        if (typeof (newwindow) != "undefined" && newwindow != null) {
            newwindow.focus();
        }
</script>