@model  IHS.Apps.CMP.Models.ViewModels.SplitViewModel

@{
    var columnCss = "grid-1-" + Model.Count;
}

<div class="grid">

    @foreach (var item in Model.Items)
    {
        <div class="@columnCss">

            <h3>@Html.Raw(item.Title)</h3>
            <div>
                @Html.Partial(item.View.ViewName, item.View.Model)
            </div>

        </div>
    }

</div>