<div class="alert alert-info text-center u-margin-As">
    <br />
    <p>You do not have access to this content as part of your current subscription</p>
    <br />

    <p>
        <strong>Find out how to get access</strong>
    </p>
    <br />
    @CmpHtmlHelpers.Content("ContactDetailsWidget")

    <br />
</div>