@model IHS.Apps.CMP.Models.ViewModels.Settings

<script>
    $(function () {
        window.settings = new SettingsVM(@Html.Raw(Model.ToJson()), @ViewBag.IsSharedUser.ToString().ToLower());

        ko.applyBindings(settings, document.getElementById('settingMenu'));
    });
</script>

@*<ul class="popover-content" style="visibility: visible;opacity: 1;width: 100%;position: relative;padding:10px 5px;overflow: visible;position:relative;" data-bind="foreach: settings">*@
<!-- ko foreach: settings -->
<!-- ko template: {name: 'template-settings-'+ type}-->
<!-- /ko -->
<!-- /ko -->
@*</ul>*@
<div class="none" data-bind="stopBindingChildren : true">
    <div id="template-settings-OnOff">
        <li>
            <label class="toggleSwitch" data-bind="interactiveDropdown: true, css:{error:isError}, attr:{title:tooltip}, tipsy:{gravity:'ne', delayIn:200, fade:true}">
                <input type="checkbox" data-bind="checked: value, attr:{name:name}" />
                <span><span></span><span></span><a><b class="loading sm" data-bind="visible: isLoading"></b></a></span>
                <span data-bind="text: title"></span>
            </label>
            <button style="" class="btn btn-link btn-help" data-bind="visible: help.show, click: help.onClick, attr:{'aria-label':'Help for '+title}" data-toggle="modal" data-target="#helpIndicatorDialog"><i class="icon-help-circled grey2"></i></button>
            <div class="u-margin-Txxs " data-bind="visible: info && info.length > 0">
                <div class="alert alert-info" data-bind="text:info"></div>
            </div>
        </li>
    </div>
    <div id="template-settings-Multiple">
        <li class="dropdown-submenu">
            <a onclick="return false;" href="#">
                <i data-bind="css: icon"></i>
                <span data-bind="text:title"></span>
                <b class="loading sm" data-bind="visible: isLoading"></b>
            </a>
            <button style="top: 2px;" class="btn btn-link btn-help" data-bind="visible: help.show, click: help.onClick, attr:{'aria-label':'Help for '+title}" data-toggle="modal" data-target="#helpIndicatorDialog"><i class="icon-help-circled grey2"></i></button>
            <ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: options">
                <!-- ko template: { name: 'template-settings-Multiple-Option' } --><!-- /ko -->
            </ul>
        </li>
    </div>
    <div id="template-settings-Multiple-Option">
        <li data-bind="css:{active: $parent.value() == name}">
            <!-- ko if: name -->
            <label>
                <input type="radio" data-bind="checked: $parent.value, attr:{name:$parent.name}, checkedValue: name" />

                <i data-bind="css: icon + ($parent.value() == name ? ' white':'')" class="large"></i>
                <!-- ko text: title --><!-- /ko -->
            </label>
            <!-- /ko -->
            <!-- ko ifnot: name -->
            <!-- ko text: title --><!-- /ko -->
            <!-- /ko -->
        </li>
    </div>
    <div id="template-settings-Title">
        <li class="dropdown-header">
            <!-- ko text: title --><!-- /ko -->
        </li>
    </div>
</div>