<ul class="pagination hide" data-bind="css: {'pagination': true, hide: !shouldShowNextPrev()}">

    <li class="dropdown changeNumber hidden-xs hidden-sm" data-bind="if: shouldShowNextPrev()">
        <a class="dropdown-toggle p_len btn btn-full" data-toggle="dropdown" href="javascript:void(0)">Show <span data-bind="text: displayOnPage" class="text">30</span> per page <span class="caret"></span></a>
        <ul class="dropdown-menu p_len_sel" style="left:auto">
            <li><a href="javascript:void(0)" data-bind="click:changeNumber" data-grid-num="10">Show 10 per page</a></li>
            <li><a href="javascript:void(0)" data-bind="click:changeNumber" data-grid-num="20">Show 20 per page</a></li>
            <li><a href="javascript:void(0)" data-bind="click:changeNumber" data-grid-num="30">Show 30 per page</a></li>
            <li><a href="javascript:void(0)" data-bind="click:changeNumber" data-grid-num="50">Show 50 per page</a></li>
            <li><a href="javascript:void(0)" data-bind="click:changeNumber" data-grid-num="100">Show 100 per page</a></li>
        </ul>
    </li>
    <li data-bind="css: {'paginate_button': true, 'first': true, disabled: parseInt(currentPage(), 10) == 1}"><a href="javascript:void(0)" class="first" data-bind="click:moveFirst" data-grid-page="1"><span>&laquo;</span> First</a></li>
    <li data-bind="css: {'paginate_button': true, 'previous': true, disabled: parseInt(currentPage(), 10) == 1}"><a href="javascript:void(0)" data-bind="click:movePrevious"><span>&lsaquo;</span> Prev</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) > 4 && parseInt(currentPage(), 10) == parseInt(maxPage())"><a href="javascript:void(0)" data-bind="text:currentPage() - 4, click: changePage" data-grid-shift="-4">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) > 3 && parseInt(maxPage()) - parseInt(currentPage(), 10) <= 1"><a href="javascript:void(0)" data-bind="text:currentPage() - 3, click: changePage" data-grid-shift="-3">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) > 2"><a href="javascript:void(0)" data-bind="text:currentPage() - 2, click: changePage" data-grid-shift="-2">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) > 1"><a href="javascript:void(0)" data-bind="text:currentPage() - 1, click: changePage" data-grid-shift="-1">0</a></li>
    <li class="active"><a href="javascript:void(0)" data-bind="text:currentPage()">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) + 1 <= parseInt(maxPage())"><a href="javascript:void(0)" data-bind="text:currentPage() + 1, click: changePage" data-grid-shift="1">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) + 2 <= parseInt(maxPage())"><a href="javascript:void(0)" data-bind="text:currentPage() + 2, click: changePage" data-grid-shift="2">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) + 3 <= parseInt(maxPage()) && parseInt(currentPage(), 10) <= 2"><a href="javascript:void(0)" data-bind="text:currentPage() + 3, click: changePage" data-grid-shift="3">0</a></li>
    <li data-bind="if: parseInt(currentPage(), 10) + 4 <= parseInt(maxPage()) && parseInt(currentPage(), 10) == 1"><a href="javascript:void(0)" data-bind="text:currentPage() + 4, click: changePage" data-grid-shift="4">0</a></li>
    <li data-bind="css: {'paginate_button': true, 'next': true, disabled: parseInt(currentPage(), 10) == maxPage()}"><a href="javascript:void(0)" data-bind="click:moveNext">Next <span>&rsaquo;</span></a></li>
    <li data-bind="css: {'paginate_button': true, 'last': true, disabled: parseInt(currentPage(), 10) == maxPage()}"><a href="javascript:void(0)" data-bind="click:moveLast">Last <span>&raquo;</span></a></li>
</ul>
<div id="btnShowMore" class="hide" style="width: 300px; margin-right: auto; margin-left: auto; display: block;" data-bind="css: {hide: ! ShowViewMore()}">
    <input class="btn btn-primary" style="width: 100%;" data-bind="click:forceScrollPage" type="button" value="Show more results">
</div>
