#skipoptions {
    background-color: #fff;
    font-size: 1.2em;
    font-weight: lighter;
    overflow: hidden;
    top: -60px;
    transition: top .1s;
    width: 100%;
    margin-left: -2.5%;
    padding: 5px 2.5%;
    position: absolute;
}

    #skipoptions > span {
        float:left;
    }

    #skipoptions a {
        margin: -3px 3px;
        padding: 3px 7px;
        border: 1px solid transparent;
    }
    
    #skipoptions a:focus, #skipoptions a:hover {
        border-color: #0097d1;
        background-color: hsla(196, 100%, 98%, 1);
        text-decoration:none;
        outline:none;
    }
    
    #skipoptions a:hover span:last-child {
        text-decoration:underline;
    }
    #skipoptions a span:first-child {
        color: #333;
    }
    #skipoptions a span:last-child {
        font-weight: 700;
        border: 2px solid transparent;
    }

.skipoptions-show #skipoptions {
    position: fixed;
    top: 0;
    z-index: 9999;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}
.skipoptions-show {
    margin-top: 32px;
}


.logo .logodropdown {
    visibility: hidden;
    opacity: 0;
    background-color: #fff;
    border-radius: 0 5px 5px;
    color: #666;
    font-size: 15px;
    left: 0;
    letter-spacing: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    width: 275px;
    cursor: default;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    transition: visibility .2s .3s, opacity .2s .3s;
}

.logodropdown > a:hover,
.logodropdown > a:focus {
    text-decoration: none;
    color: #0097d1;
}

.logodropdown span.separator {
    border-top: 1px solid #ddd;
    display: block;
    margin: 5px 0;
}

.logodropdown h5 {
    border-top: 1px solid #ddd;
    font-size: 105%;
    font-weight: bold;
    margin: 10px 0 0;
    padding: 10px 20px;
}

.logodropdown > p {
    font-size: 85%;
    margin-top: -5px;
    padding: 0 20px;
}

.logodropdown strong {
    display: block;
    margin-top: 11px;
}

.logo > span > a {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
}
/* Sub Navigation */
.subNav {
    color: #fff;
    position: absolute;
    list-style: none;
    right: 2.5%;
    top: 13px;
}

.subNav li {
    display: inline-block;
    padding: 0 5px;
    position: relative;
}

.subNav li i {
    font-size: 122%;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.subNav a {
    color: #fff;
    padding: 2px 10px 6px;
    border-radius: 3px;
    display: inline-block;
}

.subNav a:hover, .subNav a:active, .subNav a:focus, .subNav a.focus {
    text-decoration: none;
    background-color: #2697CE;
    background-color: rgba(255,255,255,.15);
}

.subNav .subDropdown > a {
    border-radius: 3px 3px 0 0;
    padding-bottom: 12px;
}

.subNav .subDropdown:hover > a {
    background-color: #fff;
    color: #444;
}

.subNav li ul {
    z-index: 200;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    min-width: 150px;
    width: 100%;
    width: calc(100% - 10px);
    padding: 0 0 5px;
    background-color: #fff;
    z-index: 1;
    *margin-left: 0;
    list-style: none;
    margin-top: -2px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 3px 3px 3px;
    left: inherit;
    border-width: 0;
}

.subNav li ul li {
    display: block;
    float: none;
}

.subNav li ul a {
    display: block;
    color: #444;
    padding: 5px 10px 5px 10px;
}

.subNav li ul a:after {
    display: block;
    color: #444;
}

.subNav li ul a:hover, .subNav li ul a:focus {
    color: #0097d1;
    background-color: inherit;
}

/* Main Navigation */
.mainNav {
    list-style: none;
    background-color: #00719d;
    background-color: rgba(0,0,0,.25);
    width: 105%;
    margin: 0 -2.5%;
    padding: 0 2.5%;
}

.mainNav > li {
    display: inline-block;
}

.mainNav > li a {
    color: #fff;
    padding: 5px 32px;
    display: block;
    font-size: 115%;
    transition: background-color .15s;
}

.mainNav > li a.on, .mainNav > li.on {
    background-color: rgba(0, 0, 0, 0.15);
}

.mainNav > li:hover > a, .mainNav > li > a:active, .mainNav > li > a:focus, .mainNav > li > a.focus {
    text-decoration: none;
    background-color: #0188bc;
}

/*.mainNav > li > a:focus {
text-decoration: none;
}*/

.mainNav li.home a {
    padding: 5px 6px;
    margin-left: 5px;
}

.mainNav li.home a i {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAMAAABFNRROAAAADFBMVEX////////////////1pQ5zAAAAA3RSTlMAgMBakZ4lAAAALElEQVR4AWOAAEYGJMDEzITgMIMAnAMBcA6CywTnMYGkEACDRy7FBKHANgAAWJgBH3u/m9IAAAAASUVORK5CYII=);
    height: 0.9em;
    margin-left: 0.25em;
    margin-right: 0.25em;
    width: 0.9em;
    background-position: center center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mainNav li.home a i {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAMAAADzN3VRAAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAAC9JREFUKM/l0KEBACAMwLDl/6eRCKjFUBvXmR1zjyCCCCKIIIIIIoggil7Lue8XWa7rAX2dkLkaAAAAAElFTkSuQmCC);
    }
}
/* Dropdown */
nav .dropdown ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 240px;
    padding: 0;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 0;
    border-top: none;
    z-index: 1;
    *margin-left: 0;
    list-style: none;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    transition: opacity .2s .3s, visibility .2s .3s;
    margin-top: 0;
}

nav #mainNav .dropdown > a {
    position: relative;
    padding-right: 36px;
}

nav .dropdown > a:after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
    content: " ";
    height: 0;
    position: absolute;
    right: 20px;
    top: 48%;
    width: 0;
}

/*nav .dropdown:hover > ul, 
.navMMenu:hover > div,*/
nav .dropdown > ul.is-shown, 
.navMMenu > div.is-shown, 
.subNav li:hover ul, 
.subNav li ul.is-shown, 
.logodropdown.is-shown,
nav .dropdown.open > ul,
nav .dropdown-submenu.open > ul {
    opacity: 1;
    visibility: visible;
}

.navMMenu > div.is-shown, 
.logodropdown.is-shown, 
.logo > span.focus  {
    transition: none !important;
}

nav .dropdown ul li {
    width: 100%;
    float: none;
    position: relative;
}

    nav .dropdown ul li a {
        color: #444;
        padding-top: 9px;
        padding-bottom: 9px;
        border-top: 1px solid #ddd;
        text-decoration: none;
        transition: background-color .15s ease-in-out 0s, color .15s ease-in-out 0s;
        display: block;
        padding: 9px 0 9px 9px;
    }

    nav .dropdown ul li:first-child > a {
        border: none;
    }

    nav .dropdown ul li:hover > a {
        background-color: #fff;
        color: #0097D1;
    }

    nav .dropdown ul li a.disabled {
        cursor: default;
        color: #aaa;
    }
    
    nav .dropdown ul li:hover > a.disabled {
        background-color: transparent;
    }
    /* Sub Navigation */
    nav .dropdown ul li.sub > a {
        padding-right: 12px;
    }

        nav .dropdown ul li.sub > a:after {
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 6px solid #666;
            content: " ";
            height: 0;
            position: absolute;
            right: 13px;
            top: 38%;
            width: 0;
            transition: border-color .15s ease-in-out 0s;
        }

    nav .dropdown ul li.sub:hover > a {
        background-position: right -39px;
    }

        nav .dropdown ul li.sub:hover > a:after {
            border-left-color: #0097d1;
        }

    nav .dropdown ul li:first-child ul {
        border-top: none;
    }

nav .dropdown ul ul {
    opacity: 0;
    visibility: hidden;
    min-width: 180px;
    left: 100%;
    border: 1px solid #ccc;
    top: 0;
    box-shadow: 2px 5px 3px -2px rgba(0, 0, 0, 0.2);
}

nav .dropdown ul li:hover > ul,
nav .dropdown ul li > a.hover + ul {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}
nav .dropdown-submenu > .dropdown-menu {
    margin-top: 0;
}
/* Mega Menu */
span.menuFade {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0,0,0,.3);
    opacity: 0;
    filter: alpha(opacity=30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    visibility: hidden;
    transition: opacity .1s .3s, visibility .1s .3s;
}

    span.menuFade.in {
        opacity: 1;
        visibility: visible;
    }

.navMMenu > div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    opacity: 0;
    visibility: hidden;
    width: auto;
    left: 2.5%;
    left: calc(2.5% + 35px);
    height: 450px;
    position: absolute;
    padding: 0;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 100;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
    transition: opacity .1s .3s, visibility .1s .3s;
}

    .navMMenu > div .MMcol {
        width: 300px;
        padding: 12px 20px;
        border-right: 1px solid #ccc;
        position: relative;
    }

        .navMMenu > div .MMcol.x2 {
            width: 600px;
        }

        .navMMenu > div .MMcol:last-child {
            border-right: none;
        }

.navMMenu .MMcol.beta h3 .after,
.navMMenu .MMcol.beta h3:after {
    content: "BETA";
    color: #f7941d;
    font-size: 11px;
    margin-left: 5px;
}

.navMMenu .MMcol h3 {
    cursor: default;
    margin: 0 -20px 10px;
    font-size: 145%;
    padding: 0 20px 5px;
}

.navMMenu .MMcol ul {
    padding: 0;
    list-style: none;
}

    .navMMenu .MMcol ul a {
        padding: 1px 0;
        color: #444;
    }

        .navMMenu .MMcol ul a:hover, .navMMenu .MMcol ul a:focus {
            color: #0097d1;
            text-decoration: none;
        }

        .navMMenu .MMcol ul a.disabled {
            cursor: default;
            color: gray !important;
            background-color: #EEEEEE !important;
        }

            .navMMenu .MMcol ul a.disabled i {
                float: right;
                right: 0;
                position: absolute;
            }

.navMMenu .MMcol.links {
    padding: 0;
}

    .navMMenu .MMcol.links ul li a,
    .navMMenu .MMcol.links .sub > a {
        padding: 9px 20px;
        border-bottom: 1px solid #ccc;
        display: block;
    }

    .navMMenu .MMcol.links.productsList a {
        padding-bottom: 2.5px;
        padding-top: 2.5px;
    }

@supports (-webkit-appearance:none) {
    .navMMenu .MMcol.links.productsList a {
        padding-bottom: 2.65px;
        padding-top: 2.65px;
    }
}

.navMMenu .MMcol.links.productsList > ul > li:first-child > a {
    padding-top: 5px;
}

.navMMenu .MMcol.links ul > ul > li:last-child > a {
    border-bottom-color: #eaeaea;
}

.navMMenu .MMcol.links.productsList > ul > li:last-child > a {
    border-bottom: none;
}

.navMMenu .MMcol.links .sub ul a, .navMMenu .MMcol.links .sub a {
    border-bottom-color: #eaeaea;
}

.navMMenu .MMcol.links .sub ul li:last-child a {
    border-bottom: 1px solid #ccc;
}

.navMMenu .MMcol.links a:hover {
    background-color: #fff;
}

.navMMenu .MMcol .sub ul a {
    padding: 0 0 0 24px;
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 7px auto;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%22450%22%20height%3D%22450%22%20viewBox%3D%220%200%20450%20450%22%3E%3Cpath%20fill%3D%22%23777%22%20d%3D%22M0%200h90v180h360v90H0%22/%3E%3C/svg%3E');
}

.MMcol .u-font-125 ~ ul.sub a:before {
    content: '\2022';
    font-size: 18px;
    line-height: 0.5em;
    padding-right: 7px;
    position: relative;
    top: 1px;
}

.logodropdown > a {
    color: #666;
    display: block;
    padding: 2px 20px;
    background-position: 93% center;
}

.navMMenu .MMcol.links .sub ul a {
    padding-left: 25px;
}

.navMMenu .MMcol.links .sub a:before {
    content: '';
    padding-right: 0;
}

.navMMenu .MMcol.links .sub ul a {
    background-position: 25px center;
    padding-left: 40px;
}

.navMMenu .searchlist {
    margin: 10px 14px;
}

.searchlistHeading {
    font-size: 115%;
    cursor: default;
    color: #444;
    margin: 15px 0 0;
}

.searchlistDescription {
    margin: 10px 0 20px;
    height: 50px;
    cursor: default;
}

.MMcol > .grid a {
    color: #0097d1;
    font-size: inherit;
    padding: 0 0 20px;
}

.MMcol .large strong {
    font-weight: normal;
    font-size: 110%;
}

.MMcol .list-group.list-links.widgetfooter {
    position: absolute;
    bottom: 0;
    margin: 0 -20px;
    width: 100%;
}

.MMcol .widgetfooter .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.navMMenu .contact .grid div {
    font-size: 13px;
    padding: 20px;
    display: block;
    font-size: 14px;
    width: 100%;
}

    .navMMenu .contact .grid div a {
        padding: 0;
        color: #0097d1;
        font-size: 14px;
        display: inline;
    }

.navMMenu .contact p {
    line-height: 185%;
}

.navMMenu .contact strong {
    font-size: 115%;
    font-weight: normal;
}

.navMMenu .card {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
    font-size: 90%;
    height: 100%;
}

    .navMMenu .card h3:first-child {
        font-size: 161%;
        margin: 0 -20px 10px;
    }

.navMMenu .tab-content {
    height: 310px;
    overflow: auto;
    margin: 0 -20px;
    padding: 0 20px;
    position: relative;
}

.navMMenu .card a {
    display: inline;
}

.navMMenu .card .chosen-container a {
    display: block;
}

.navMMenu .card p {
    margin: 8px 0 3px;
    font-size: 115%;
}

.navMMenu .card .nav li {
    padding: 10px 0;
}

.navMMenu .card .nav {
    margin: 0 -20px;
    padding: 0 10px;
}

    .navMMenu .card .nav a {
        padding: 10px 10px;
    }

    .navMMenu .card .nav .active a {
        background-color: transparent;
    }

    .navMMenu .card .nav li:not(.active) a:hover {
        background-color: transparent;
        color: inherit;
    }

.navMMenu .card .icon-collapse-arrow ~ div:not(.indent) {
    padding-left: 22px;
}

.navMMenu #A-Z {
    padding: 7px 0;
}

.navMMenu .subs_col1 ul.indent {
    padding-bottom: 5px;
}

.navMMenu .mySubFavourites .indent > strong {
    font-size: 115%;
}

.mySubscriptions-info {
    color: #999;
    display: block;
    margin: 1px 5px -10px;
    opacity: 0;
    font-size: 11px;
    transition: opacity 0.2s;
}

.mySubscriptions .chosen-container:hover ~ .mySubscriptions-info {
    opacity: 1;
}

/* Old IE fixes */
.ie9 .navMMenu > div .MMcol {
    float: left;
}

.ie8 span.menuFade, .ie9 span.menuFade {
    z-index: 99;
}

.ie8 .navMMenu > div .MMcol, .ie7 .navMMenu > div .MMcol {
    float: left;
}

.ie9 .logo .logodropdown {
    z-index: 1;
}

.ie8 .logo .logodropdown {
    z-index: 1;
    border: 1px solid #ccc;
}

.ie7 .mainNav > li, .subNav li {
    display: block;
    float: left;
}

.ie7 .subNav {
    top: 16px;
}

    .ie7 .subNav li ul {
        top: 30px;
        left: 5px;
        border: 1px solid #ccc;
        border-top: none;
    }

.ie8 .subNav li ul {
    border: 1px solid #ccc;
    border-top: none;
}

.ie7 .subNav a:hover, .ie8 .subNav a:hover {
    background-color: #0187B7;
}

.ie7 .subNav .subDropdown:hover a, .ie8 .subNav .subDropdown:hover a {
    background-color: #fff;
}

.ie7 .mainNav {
    width: 100%;
}

.ie7 .MMcol img {
    width: 240px;
}

.ie7 .navMMenu .MMcol ul {
    margin-left: 0;
}

.ie7 .MMcol .input-group .form-control {
    display: inline;
    width: 75%;
    padding: 0;
}

.ie7 .MMcol .nav-tabs-center.nav-tabs-line > li {
    float: left;
}

#devArea {
    background-color: transparent;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 40px;
    overflow: hidden;
    padding: 2px 5px;
    position: absolute;
    right: 0px;
    top: 1px;
    width: 15px;
    z-index: 1000;
    height: 33px;
}

    #devArea a {
        padding-right: 10px;
    }

    #devArea:hover {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        height: 400px;
        width: 400px;
        overflow: auto;
        background-color: #ccc;
        border: 1px solid #424242;
    }

a.mainNavButton {
    display: none;
    color: #fff;
    font-size: 12px;
    left: 52px;
    padding: 5px 10px;
    position: absolute;
    top: 42px;
    width: calc(100% - 57px);
}

    a.mainNavButton:focus, a.mainNavButton:active {
        text-decoration: none;
        outline: none;
    }

    a.mainNavButton.shown {
        background-color: #0188bc;
    }

        a.mainNavButton.shown .caret {
            border: none;
            width: 10px;
        }

            a.mainNavButton.shown .caret:after {
                content: '\00D7';
                font-size: 18px;
                position: absolute;
                top: 2px;
            }

/* Media Queries */

@media (max-width: 1199px) {
    .subNav li ul, .subNav .subDropdown > a {
        transition: none;
    }
}

@media (max-width: 1023px) {
    .navMMenu > div {
        left: 0;
        width: 100%;
    }

        .navMMenu > div .MMcol:nth-last-child(3n),
        .navMMenu > div .MMcol:nth-last-child(3n) ~ .MMcol {
            width: 33.33%;
        }

            .navMMenu > div .MMcol.x2{
                width: 66.6%;
            }
        .navMMenu > div .MMcol:only-child {
            margin: 0 auto;
        }
}

@media (max-width: 991px) {

    .mainNav > li a {
        padding: 5px 22px;
    }

    .subNav {
        top: 11px;
    }

        .subNav a {
            padding: 3px 5px;
        }

    .logo .logodropdown {
        font-size: 70%;
    }
}

@media (max-width: 767px) {
    
    .mainNav > li a {
        padding: 5px 12px;
    }

    .subNav a {
        padding-right: 1px;
    }


    .subNav .subDropdown > a {
        padding-right: 5px;
    }

        .subNav .subDropdown > a .caret {
            margin-left: -7px;
        }

    .subNav li ul {
        right: 5px;
        border-radius: 3px 0 3px 3px;
    }

    #skiptocontent {
        display: none;
    }
}

@media (max-width: 619px) {
    .mainNav > li:not(.home) {
        visibility: hidden;
        opacity: 0;
        margin-left: -2.5%;
        width: 105%;
        position: absolute;
        left: 0;
    }

    .mainNav > li.shown {
        visibility: visible;
        opacity: 1;
        position: relative;
    }

    .mainNav li:not(.home) a {
        padding-left: 20px;
    }

    .navMMenu > div {
        display: block;
        height: auto;
    }

        .navMMenu > div .MMcol,
        .navMMenu > div .MMcol.x2,        
        .navMMenu > div .MMcol:nth-last-child(3n),
        .navMMenu > div .MMcol:nth-last-child(3n) ~ .MMcol {
            width: 100%;
        }

    .searchlistDescription {
        height: auto;
        margin-bottom: 5px;
    }

    .searchlistHeading, .searchlist, .mySubscriptions-info, .mainNav > li.reportBuilderLink {
        display: none;
    }

    .subNav {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;
        padding: 0;
        margin-top: 25px;
        font-size: 120%;
        display: none;
    }

        .subNav > li {
            background-color: #fff;
            float: none;
            width: 100px;
        }

        .subNav a {
            color: #444;
        }

        .subNav .hidden-xs {
            display: inline-block !important;
        }

        .subNav i {
            display: none !important;
        }

        .subNav .subDropdown > a {
            padding-bottom: 5px;
        }

            .subNav .subDropdown > a .caret {
                margin-left: 0;
            }

        .subNav .devText {
            display: none;
        }
}

.advanced-searchbox .adv-clear-all {
    text-align: left !important;
}

.advanced-searchbox .adv-back-simple {
    margin: 0;
}

.advanced-searchbox .adv-search-tips {
    margin-left: -15px;
    padding: 5px;
    font-size: 13px;
}

.advanced-searchbox .advanced-search {
    margin-bottom: 5px;
}

.advanced-searchbox .adv-apply-search {
    width: 100px;
}

.advanced-searchbox .icon-help-circled {
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
}

.advanced-searchbox .btn btn-link {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 13px;
    line-height: 1.52;
}

.page-header .btn-link {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    opacity: 0.6;
    color: #333;
    text-decoration: none;
    padding: 5px;
    border: 0;
}

    .page-header .btn-link:hover, .page-header .btn-link:active {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        color: #333;
        opacity: 1;
    }

.page-header .btn-block {
    text-align: left;
}
