/*CSS for the image popup plugin*/
#imgPopupWrapper
{
    background-color: #fff;
    width: 600px;
    height: 400px;
    z-index: 5000;
    display: none;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

#imgPopupWrapper.inline
{
    display: block;
    position: relative;
    box-shadow: none;
}

#imgPopupWrapper .viewer
{
    width: 600px;
    height: 400px;
}

#imgPopupWrapper .wait
{
    left: 42%;
    padding-left: 25px;
    position: absolute;
    top: 44%;
}

#imgPopupWrapper .titleBar
{
    z-index: 3000;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 5px 0;
    background-color: rgba(0,0,0,0.7);
}

#imgPopupWrapper .titleBar div
{
    float: right;
    display: block;
    height: 15px;
    width: 15px;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
}

#imgPopupWrapper .titleBar .fullscreen
{
    background: transparent url(/Assets/Images/imageviewericons.png) -282px center no-repeat;
    height: 20px;
    width: 20px;
}

#imgPopupWrapper .titleBar .close
{
    background: transparent url(/Assets/Images/imageviewericons.png) -327px center no-repeat;
    height: 20px;
    width: 20px;
}

.iviewer_common
{
    z-index: 3000;
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
    height: 28px;
    font-family: 'Segoe UI';
    font-size: 15px;
}

.iviewer_cursor
{
    cursor: pointer;
}

.iviewer_drag_cursor
{
    cursor: move;
}

.iviewer_button
{
    width: 28px;
    cursor: pointer;
}

.iviewer_zoom_in
{
    left: 20px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) 5px 4px no-repeat;
}

.iviewer_zoom_out
{
    left: 55px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) -40px 4px no-repeat;
}

.iviewer_zoom_zero
{
    left: 90px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) -87px 4px no-repeat;
}

.iviewer_zoom_fit
{
    left: 125px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) -139px 4px no-repeat;
}

.iviewer_zoom_status
{
    left: 166px;
    color: #ccc;
    text-align: center;
    width: 45px;
    border: solid 1px #c3c3c3;
    bottom: 6px;
    font-size: 1em;
    border-radius: 2px;
    height: 16px;
    line-height: 15px;
}

.iviewer_rotate_left
{
    left: 225px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) -186px 4px no-repeat;
}

.iviewer_rotate_right
{
    left: 258px;
    bottom: 0;
    background: transparent url(/Assets/Images/imageviewericons.png) -235px 4px no-repeat;
}
.imageSlides {
    text-align: center;
    margin-top: 20px;
}
.imageSlides li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    margin: 0 5px 10px;
}
.imageSlides li img {
    width: 120px;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.imageSlides li img.selected {
    border-color: #0097d1;
}
