<script language="javascript">

    $(function () {
        //Just for now hide the template dropdown. we are auto changing the template when the user changes the tab
        $('#main > div.grid > div.grid-1 > div:nth-child(2) > ul > li:nth-child(4)').hide();

        // hide the savesearch and rss etc
        // $('#main > div.grid > div.grid-1 > div:nth-child(2) > ul > li.nav-tab-right').hide();
        $('.tipsyme').tipsy();
    });
</script>
<div class="light-grey-bg u-padding-An u-padding-Lm u-paddin-Bm u-padding-Tn u-margin-Bm">
    <div class="pull-right u-margin-Lm">
        <a href="https://osintgeoint.maps.arcgis.com/home/index.html" target="_blank" class="tipsyme" title="Click here to view esri spatial layers, you can also upload your own content and manage user groups here. You will be taken to an external site."><img src="~/Assets/Images/AandD/esrispatialLayers.png" /></a>
    </div>
    <div style="min-height:109px;">

        <link rel="stylesheet" type="text/css" href="~/Assets/Css/flags.css">
        <h3><span class="u-padding-Tn icon-globe"></span>Country Dashboard quicklinks</h3>
        <div>

            <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Estonia" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon    u-font-125 flag-icon-ee"></span>
                        </span>
                        <span title="Click here to view the Estonia Country Dashboard in a new window." class="tipsyme u-bold">Estonia</span>
                    </span>
                </a>
            </div>

            <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Russian Federation" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon     u-font-125 flag-icon-ru"></span>
                        </span>
                        <span title="Click here to view the Russian Federation Country Dashboard in a new window." class="tipsyme u-bold">Russian Federation</span>
                    </span>
                </a>
            </div>

            <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Belarus" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon  u-font-125  flag-icon-by"></span>
                        </span>
                        <span title="Click here to view the Belarus Country Dashboard in a new window." class="tipsyme u-bold">Belarus</span>
                    </span>
                </a>
            </div>

            <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Latvia" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon  u-font-125   flag-icon-lv"></span>
                        </span>
                        <span title="Click here to view the Latvia Country Dashboard in a new window." class="tipsyme u-bold">Latvia</span>
                    </span>
                </a>
            </div>

            <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Lithuania" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon  u-font-125  flag-icon-lt"></span>
                        </span>
                        <span title="Click here to view the Lithuania Country Dashboard in a new window." class="tipsyme  u-bold">Lithuania</span>
                    </span>
                </a>
            </div>

            
           @*<div class="u-padding-Axs  u-padding-Rn inline-block">
        <a class="hand " href="/dashboard/country/Sweden" target="_blank">
            <span class="u-padding-Rl" style="font-size:19px;">
                <span class="dashboard-icon">
                    <span class="flag-icon     flag-icon-se"></span>
                </span>
                <span  title="Click here to view the Sweden Country Dashboard in a new window." class="tipsyme u-bold">Sweden</span>
            </span>
        </a>
    </div><div class="u-padding-Axs  u-padding-Rn inline-block">
        <a class="hand " href="/dashboard/country/Norway" target="_blank">
            <span class="u-padding-Rl" style="font-size:19px;">
                <span class="dashboard-icon">
                    <span class="flag-icon    flag-icon-no"></span>
                </span>
                <span  title="Click here to view the Norway Country Dashboard in a new window." class="tipsyme u-bold">Norway</span>
            </span>
        </a>
    </div>*@
            @*<div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Finland" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon   flag-icon-fi"></span>
                        </span>
                        <span  title="Click here to view the Finland Country Dashboard in a new window." class="tipsyme u-bold">Finland</span>
                    </span>
                </a>
            </div>*@
           <div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Poland" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon  flag-icon-pl"></span>
                        </span>
                        <span  title="Click here to view the Poland Country Dashboard in a new window." class="tipsyme u-bold">Poland</span>
                    </span>
                </a>
            </div>
            
            @*<div class="u-padding-Axs  u-padding-Rn inline-block">
                <a class="hand " href="/dashboard/country/Ukraine" target="_blank">
                    <span class="u-padding-Rl" style="font-size:19px;">
                        <span class="dashboard-icon">
                            <span class="flag-icon   flag-icon-ua"></span>
                        </span>
                        <span  title="Click here to view the Ukraine Country Dashboard in a new window." class="tipsyme u-bold">Ukraine</span>
                    </span>
                </a>
            </div>*@
        </div>
    </div>
</div>