<script>
    var idx = "VIEW_BY_COUNTRY";
    $(document).ready(function () {
        // delay setup so that the result VM is available.
        setTimeout(setup, 3000);
    });

    function setup() {
        vm.search.registerQueryStringExtendCallback(toggle);
    }

    function switchView(i) {
        idx = i;
        vm.search.updateResults();
    }

    function toggle() {
        var hints = {};
        hints["UnIxr"] = idx;
        return hints;
    }
</script>

<ul class="nav nav-tabs inline-block hand u-font-45" id="lenstabs" style="margin-bottom:0!important;letter-spacing:normal;position: absolute; bottom: -1px; right: 5%;">
    <li class="active">
        <a data-toggle="tab" href="#" onclick="switchView('VIEW_BY_COUNTRY');">By Country</a>
    </li>
    <li>
        <a data-toggle="tab" href="#" onclick="switchView('VIEW_BY_COMPANY');">By Company</a>
    </li>
</ul>