<script>
    function switchView(i) {
        vm.facetsVM.applyFacet("INSTRUCTION", i, true);
    }

    function LoadWeightings() {
        vm.commandsVM.loadPopup("Edit Weightings", "/OilAndGasRiskRankings/GetWeightings", {}, null, function (form) { window.location.reload(); });
    }
</script>

<div class="grid-1-2">
    <button class="btn btn-primary u-margin-xs u-margin-Ll" onclick="LoadWeightings();">Edit Weightings</button>
    <span class="u-font-45 text-muted">* indicates user defined weightings applied</span>
</div>

<ul class="nav nav-tabs inline-block hand u-font-45" id="lenstabs" style="margin-bottom:0!important;letter-spacing:normal;position: absolute; bottom: -1px; right: 5%;">
    <li class="active">
        <a data-toggle="tab" href="#" onclick="switchView('Current Rankings');">Current Rankings</a>
    </li>
    <li>
        <a data-toggle="tab" href="#" onclick="switchView('5 Year Forecast');">View 5 Year Forecast</a>
    </li>
</ul>