<script>
    var idx = "VIEW_BY_COUNTRY";
    $(document).ready(function () {
        // delay setup so that the result VM is available.
        setTimeout(setup, 3000);
    });

    function setup() {
        vm.search.registerQueryStringExtendCallback(toggle);
    }

    function switchView(i) {
        idx = i;

        var showRegionOnlyPanel = false;
        var showRegionCountryPanel = false;

        if (i === "VIEW_BY_WORLDWIDE") {
            vm.facetsVM.removeFacet("REGION", '', null, true);
            vm.facetsVM.removeFacet("ONLYREGION", '');
        }
        else if (i === "VIEW_BY_REGION") {
            showRegionOnlyPanel = true;
            vm.facetsVM.removeFacet("REGION", '');
        }
        else if (i === "VIEW_BY_COUNTRY") {
            showRegionCountryPanel = true;
            vm.facetsVM.removeFacet("ONLYREGION", '');
        }

        vm.facetsVM.toggleFacetPanelVisibility("REGION", showRegionCountryPanel);
        vm.facetsVM.toggleFacetPanelVisibility("ONLYREGION", showRegionOnlyPanel);
    }

    function toggle() {
        var hints = {};
        hints["UnIxr"] = idx;
        return hints;
    }
</script>

@*<div class="grid-1-2 u-font-65">
    <table>
        <tr>
            <td><i class="icon-chart-pie xxlarge"></i></td>
            <td>Make charting your own with a new flexible charting tool to chart company data anyway you like. <a href="/CompanyData/FlexiChart">Click here.</a></td>
        </tr>
    </table>
</div>*@

<ul class="nav nav-tabs inline-block hand u-font-45" id="lenstabs" style="margin-bottom:0!important;letter-spacing:normal;position: absolute; bottom: -1px; right: 5%;">
    <li class="active">
        <a data-toggle="tab" href="#" onclick="switchView('VIEW_BY_COUNTRY');">By Country</a>
    </li>
    <li>
        <a data-toggle="tab" href="#" onclick="switchView('VIEW_BY_REGION');">By Region</a>
    </li>
    <li>
        <a data-toggle="tab" href="#" onclick="switchView('VIEW_BY_WORLDWIDE');">Worldwide</a>
    </li>
</ul>