<div class="light-grey-bg u-padding-Axs u-bold">
    Note: It should be emphasised that the "value" stated in Awards Analysis is a "commit" value and is not a market value. This value therefore, should not be construed as a commercial value of the acreage or reserves.      
</div>