@model string

@switch (Model)
{
    case "datapage-lens":

        <div data-bind="with : tutorial" class="with-data-bind">
            <div class="startHint jmf1" tabindex="0" data-bind="draggable : { handle : '.draggable' }" data-tutorial="1">
                <h3 class="draggable">Welcome to the new Defence Budgets</h3>
                <p>This new site has been developed to make it easier to do the things that you need to do in your respective roles. Designed following user feedback and developed in close consultation with existing users, there are lots of powerful new features now available:</p>
                <ul>
                    <li>new 'Guided Navigation' focusing on presenting filters relevant to your needs and a powerful 'search all filters' facility</li>
                    <li>ability to add new charts and compare and contrast charts side by side</li>
                    <li>new chart editing</li>
                    <li>new options to create and name your own custom data grids</li>
                    <li>ability to export all subscribed defence in one spreadsheet</li>
                </ul>
                <p>The new site also retains all the old features of Defence Budgets. We hope you will like the new site but we will be keeping the <a href="/DefenceBudgets/data?view=chart">old Defence Budgets</a> for a period while you get used to the new site.</p>
                <p><a href="/DefenceBudgets/Help" target="help">Defence Budgets help system</a></p>
            </div>

            <div class="startHint toppointer" tabindex="0" data-tutorial="2" data-tutorial-attach="#subchartsContainer .chartWrapper:first-child .subChartToolBar .btn-group:nth-of-type(2)">
                <h3>New Chart Editing</h3>
                <p>Here you can add new charts, edit the X and Y axes and determine how many items you want to appear in each axis.</p>
                <br />
            </div>
            

            <div class="startHint leftpointer" tabindex="0" data-tutorial="3" data-tutorial-attach="#subchartsContainer .chartWrapper:first-child .highcharts-container .highcharts-series-group > .highcharts-series:first-child > :first-child">
                <h3>New Chart Drilldown</h3>
                <p>You can drill down into the charts by selecting a segment, and a new chart will then appear.</p>
                <br />
            </div>

            <div class="startHint rightpointer" tabindex="0" data-tutorial="4" data-tutorial-attach="#settingMenu">
                <h3>Settings</h3>
                <p>Here you will be able to change the following settings.</p>
                <br />
            </div>
            <div class="startHint toppointer jmf3" tabindex="0" data-tutorial="5" data-tutorial-attach="#settingMenu">
                <h3>Chart/Data grid display</h3>
                <p>Here you can determine which views to display.</p>
                <br />
            </div>
            <div class="startHint rightpointer jmf4" tabindex="0" data-tutorial="6" data-tutorial-attach="#lenstabs">
                <h3>New tabbed 'guided navigation' views</h3>
                <p>When you select the tab you are interested in, you will see the filters on the left hand side change, showing the most relevant filters for this view.</p>
                <br />
            </div>

        </div>
        break;
    case "datapage":

        <div data-bind="with : tutorial" class="with-data-bind">
            <div class="startHint jmf1" tabindex="0" data-tutorial="1">
                <h3>Get Started with your new Defence Budgets</h3>
                <p>Following user feedback, there are a number of changes along with some new features in your new Defence Budgets.</p>
                <p>Select 'Next' to see these changes, or use the filters on the left to start your budgets.</p>
                <p><a href="https://cdn.ihs.com/ADS/Help/JMF-Classic_4_06/Default.htm" target="help">Defence Budgets help system</a></p>
            </div>

            <div class="startHint toppointer jmf2" tabindex="0" data-tutorial="2" data-tutorial-attach=".viewToggle">
                <h3>Displaying chart and program data view</h3>
                <p>You can now use this control to show your chart or program data view, or by selecting them both you can show both the chart and the underlying program data.</p>
                <br />
            </div>

            <div class="startHint rightpointer jmf3" tabindex="0" data-tutorial="3" data-tutorial-attach="#settingMenu">
                <h3>Settings</h3>
                <p>Here you will be able to change the following settings.</p>
                <br />
            </div>
            <div class="startHint rightpointer jmf3" tabindex="0" data-tutorial="4" data-tutorial-attach="#customisationsBtn">
                <h3>Creating/editing customisations</h3>
                <p>Here you can create and edit custom filters and segments.</p>
                <br />
            </div>

            <div class="startHint rightpointer jmf4" tabindex="0" data-tutorial="5" data-tutorial-attach="#helpMenu">
                <h3>Help</h3>
                <p>Here you will find links to training material for Defence Budgets and definition for defence.</p>
                <br />
            </div>

            <div tabindex="-1" data-tutorial="1" data-tutorial-attach="#settingMenu">
            </div>
            <div class="startHint bottompointer jmf4" tabindex="0" data-tutorial="8" data-tutorial-attach="#resultsGrid .row_selector label" data-tutorial-when="#resultsGrid .result-item" style="display:none">
                <h3>Exporting, removing or displaying certain program records from your search</h3>
                <p>You are now able to use the checkboxes next to each record to determine whether you want to include or exclude these items in your Program Data view and Chart view.</p>
                <p>When you select a checkbox some blue buttons will appear. Select the relevant option.</p>
                <br />
            </div>

            <div data-tutorial="6" style="display:none"></div>
        </div>

        break;

    case "filters":
        <div data-bind="with : tutorial" class="u-inline-block">

            <div class="startHint leftpointer jmf6" tabindex="0" data-tutorial="7">
                <h3>Defence</h3>
                <p>Select one or more defence and click "Apply Filters" to begin.</p>
                <br />
            </div>

            <div class="startHint leftpointer jmf6" tabindex="0" data-tutorial="7">
                <h3>Filters</h3>
                <p>Alternatively you can use filters to start your budgets or use them to refine your chart and program data after selecting a defence.</p>
                <br />
            </div>
        </div>

        break;

    case "filters-lens":
        <div data-bind="with : tutorial" class="u-inline-block">


            <div class="startHint leftpointer jmf6" tabindex="0" data-tutorial="7">
                <h3>Filters</h3>
                <p>Select any filter and click 'Apply filters' to begin.</p>
                <p>There is also a powerful new  'Search our filters' functionality, which searches across all filters.</p>
                <p>Some of the filter names have been changed to better align with industry standards.</p>
                <p>Details of all these changes are available in <a href="/DefenceBudgets/Help" target="help">the help system</a>.</p>
                <br />
            </div>
        </div>

        break;
}
