<!-- ko if: Array.isArray(popupData()) -->
<!-- ko ifnot: popupData().length -->
<div class="alert alert-info u-margin-Axs" role="alert">It is not possible to drill down on this marker, please zoom in to the map further to see more information on markers in this area.</div><!-- /ko -->
<!-- ko if: popupData().length -->
<div class="list-group list-group-sm" data-bind="template: { name: 'template-marker-content-item', foreach: popupData }"></div>
<!-- /ko -->
<!-- /ko -->
<!-- ko if: typeof popupData() == "string" -->
<div data-bind="html: popupData"></div>
<!-- /ko -->

<div class="none" data-bind="stopBindingChildren : true">
    <div id="template-marker-content-item-heading">
        <span class="badge" data-bind="if: Count > 1"><!-- ko text:Count --><!-- /ko --></span>
        <span data-bind="html: $data.Style && Style.key()" style="width: 1em;vertical-align: text-top;"></span>
        <span data-bind="text:Title"></span>
    </div>

    <div id="template-marker-content-item">
        <!-- ko if: Level > 1 -->
        <a href="javascript:void(0)" class="list-group-item" data-bind="click: $parent.drilldown.bind($parent), template:'template-marker-content-item-heading'"></a>
        <!-- /ko -->
        <!-- ko if: Level <= 1 -->
        <div class="list-group-item clearfix" data-bind="event:{mouseenter:highlightMarker, mouseleave:clearHighlight}">
            <!-- ko if: Thumbnail -->
            <div class="thumbnail" style="float: right;" data-bind="attr:{'data-record-uid':Id}">
                <a href="" data-bind="attr:{href: Thumbnail}">
                    <img src="" data-bind="attr:{src: Thumbnail}" />
                </a>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: $parent.options.static -->
            <!-- ko if: Link -->
            <a href="" target="_blank" data-bind="attr:{href:Link}, template:'template-marker-content-item-heading'"></a>
            <!-- /ko -->
            <!-- ko ifnot: Link -->
            <a href="javascript:void(0)" target="_blank" data-bind="click: $parent.drilldown.bind($parent), template:'template-marker-content-item-heading'"></a>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: $parent.options.static -->
            <span data-bind="template:'template-marker-content-item-heading'"></span>
            <!-- /ko -->
            <button class="icon-down-dir" type="button" data-toggle="collapse" aria-expanded="false"
                    aria-label="Expand Description"
                    data-bind="uniqueRef: [{before:1, ref:'data-target', prefix: '#'}, {before:1, ref:'aria-controls'}]"></button>
            <p class="collapse" data-bind="uniqueId:{}, css:{in:$parent.popupData().length==1}">
                <span data-bind="if: $data.Id">Id: <!-- ko text: Id --><!-- /ko --><br /></span>
                <span data-bind="if: Latitude && Longitude"><!-- ko text: Latitude+', '+Longitude--><!-- /ko --><br /></span>
                <span data-bind="html: Description"></span>
            </p>
            <p class='date' data-bind="dateTimeView:EventDate, visible:EventDate.indexOf('-') < 0"></p>
        </div>
        <!-- /ko -->
    </div>
</div>