
<div data-bind="with : tutorial" class="with-data-bind">
    <div class="startHint map1" tabindex="0" data-bind="draggable : { handle : '.draggable' }" data-tutorial="1">
        <h3 class="draggable">New features for map <small>- Febuary 2018</small></h3>
        <p>In this new version of the map you will see a number of changes:</p>
        <ul>

            <li style="margin-bottom: 10px;">Ability to record  Lat Long coordinates and do map measurements.</li>
            <li style="margin-bottom: 10px;">Create polygon search areas and set up saved searches/email alerts based on the custom area.</li>
            <li style="margin-bottom: 10px;">New Ports layer (separate subscription required).</li>
        </ul>
        <p><a href="@this.ViewBag.HelpUrl" target="help">Map user guide</a></p>
    </div>

    <div class="startHint toppointer" tabindex="0" data-tutorial="2" data-tutorial-attach="#measureMenu">
        <h3>New Recording and Measuring Tools</h3>
        <p>Record Lat Long coordinates and measurements on the map.</p>
        <br />
    </div>

    <div class="startHint toppointer" tabindex="0" data-tutorial="3" data-tutorial-attach="#customShapeMenu">
        <h3>Save Custom Polygons</h3>
        <p>You can now draw custom areas on the map and perform searches based on them.</p>
        <br />
    </div>

    <div class="startHint toppointer" tabindex="0" data-tutorial="4" data-tutorial-attach="#SaveSubscribeMenu">
        <h3>Save Searches/Email Alerts</h3>
        <p>Create saved searches/email alerts based on custom areas and criteria</p>
        <br />
    </div>

    <div class="startHint rightpointer" tabindex="0" data-tutorial="5" data-tutorial-attach="#settingMenu">
        <h3>Settings</h3>
        <p>Here you can change settings on the map, including switching to show single points on the map.</p>
        <br />
    </div>

    <div class="startHint toppointer" tabindex="0" data-tutorial="6" data-tutorial-attach="#mapSearchBar">
        <h3>New Layer Searching</h3>
        <p>Here you can now search for keywords on individual layers.</p>
        <br />
    </div>

    <div class="startHint rightpointer" tabindex="0" data-tutorial="7" data-tutorial-attach="#helpMenu">
        <h3>Map Help</h3>
        <p>More information on using the map can be found in the Janes help system.</p>
        <br />
    </div>
</div>